@import "settings";
@import "mixin";

.custom-control {
  display: flex;
  align-items: center;

  label {
    margin-bottom: 0;
    font-weight: 400;
  }
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.form-group label {
  margin-bottom: 1rem;
}

.form-control__placeholder {
  @include hidePlaceholder {
    font-size: 14px;
    transition: opacity 0.3s ease;
  }

  &:focus {
    @include hidePlaceholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}

.form-control {
  &:focus {
    outline: 0;
  }

  &:disabled,
  &[readonly] {
    border-color: #efefef;
  }
}

/*
select.form-control {
  font-size: .9rem;
}
*/
textarea.form-control {
  min-height: 50px;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 0.055em;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: #fff;
    border-color: $green;
    background-color: $green;
    box-shadow: none;
  }

  &.disabled,
  &:disabled {
    color: $grey;
    background-color: $grey-3;
    border-color: $grey-3;
    pointer-events: none;

    svg {
      fill: $grey;
    }
  }
}

.btn-primary svg {
  fill: #fff;
}

.btn-outline-primary {
  &:hover {
    color: $orange-2;
    border-color: $orange-2;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $green;
    background-color: inherit;
  }

  &.disabled,
  &:disabled {
    color: $grey-2;
    background-color: white;
    border-color: $grey-2;
  }

  &.btn-basket svg {
    fill: $orange;
  }
}

.btn-link {
  cursor: pointer;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $green;
    background-color: inherit;
    border-color: transparent;
  }
}

.btn-basket {
  width: 50px;
  height: 45px;
  overflow: hidden;
  padding: 5px 9px;

  svg {
    width: 27px;
    height: 27px;
  }

  &.btn-lg {
    padding: .65rem;

    svg {
      width: 36px;
      height: 36px;
    }
  }
}

.input-icon {
  display: none;
}

.input-error__svg, span.input-error__text, span.input-success__text, .input-success__svg, .warn-message__text {
  display: none;
}

.warn-message {
  position: relative;
  .card-b, .js-basket-get {
    border: 2px solid $red !important;
  }
  & > &__text {
    font-size: 14px;
    line-height: 16px;
    color: $red;
    display: block;
    margin-top: 5px;
    position: absolute;
    left: 7px;
    bottom: -20px;
  }
}

.input-error {
  position: relative;

  input, textarea {
    background: url("/local/templates/main/images/error.svg") no-repeat;
    background-position: 95% center;
    background-size: 17px 17px;
    border: 2px solid $red !important;
  }

  textarea {
    padding-right: 10rem;
  }

  input {
    padding-right: 2rem;
  }

  & > &__text {
    font-size: 14px;
    line-height: 16px;
    color: $red;
    display: block;
    margin-top: 5px;
  }
}

.input-success {
  position: relative;

  input, textarea {
    background: url("/local/templates/main/images/ok.svg") no-repeat;
    background-position: 95% center;
    background-size: 18px 12px;
    border: 2px solid $green !important;
  }

  textarea {
    padding-right: 3rem;
  }

  input {
    padding-right: 2rem;
  }

  & > &__text {
    font-size: 14px;
    line-height: 16px;
    color: $green;
    display: block;
    margin-top: 5px;
  }
}

@media (min-width: 1200px) {
  /*
  .custom-control-label:hover {
    cursor: pointer;
  }
*/
  .btn-success:hover {
    color: #fff;
  }

  .btn-primary:hover {
    color: #fff;
    border-color: $red-3;
    background-color: $red-3;
  }

  .btn-outline-primary:hover {
    color: $red-3;
    border-color: $red-3;
  }

  .btn-link {
    cursor: pointer;

    &:hover {
      color: $red-3;
    }
  }
}
