@mixin sprite-flags($x: 0, $y: 0) {
  background-position: $x $y;
}

@mixin hidePlaceholder {
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

//Очиститель потоков
@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

//Хорошие миксины медиа запросов. Один пиксель уже вычитается.
// w-from(1200px) {} не менее 1200
// w-to($xl) {} не более $xl
// w-range($sm, $md) {} от и до
@mixin w-from($screen) {
  @media (min-width: $screen) {
    @content;
  }
}
@mixin w-to($screen) {
  @media (max-width: $screen - 1px) {
    @content;
  }
}
@mixin w-range($screen1, $screen2) {
  @media (min-width: $screen1) and (max-width: $screen2 - 1px) {
    @content;
  }
}

//Миксин увеличивающий нажатие на мелкий элемент
@mixin incClickArea($px: 10px) {
  position: relative;
  &::after {
    content:  '';
    position: absolute;
    top:      -$px; bottom: -$px;
    left:     -$px; right: -$px;
  }
}

//Только ИЕ
@mixin inIe {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}


//Убираем скроллбар
@mixin delScrollbar () {
  -ms-overflow-style: none;  // IE 10+
  scrollbar-width: none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }
}

@mixin display-flex($direction: row, $align: flex-start, $justify: flex-start) {
  display:         flex;
  flex-direction:  $direction;
  align-items:     $align;
  justify-content: $justify;
}

@mixin font-size($size: inherit, $weight: initial, $height: normal) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}