.subscription {
  width: 66%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  background: $grey5 url(../img/media/bg-subscription.svg) no-repeat 97% center;
  background-size: 370px 275px;
  box-shadow: 0 8px 15px rgba(95, 105, 142, 0.3);
  border-radius: 15px;
}

.subscription-form {
  max-width: 50%;
}
