.btn {
  display: inline-flex;
}

.btn-primary {
  height: 44px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(165.41deg, #0575E6 0%, #021B79 100%);
  letter-spacing: 0.03em;
  box-shadow: 2px 2px 4px #C7C9D2, -2px -2px 4px #FAFBFF;

  &::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    opacity: 0;
    z-index: 1;
    background: linear-gradient(165.41deg, #36D1DC 0%, #5B86E5 100%);
    transition: opacity .3s;
  }

  &.disabled,
  &:disabled {
    cursor: default;
  }

  &:not(.disabled),
  &:not(:disabled) {
    &:hover::after {
      opacity: 1;
    }
  }
}

.btn-text {
  position: relative;
  z-index: 2;
  margin: auto;
}

.btn-bright {
  padding: 4px 18px;
  line-height: 24px;
  text-align: center;
  color: $black;
  background: $grey-gradient;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 4px #C7C9D2, -2px -2px 4px #FAFBFF;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: color .4s ease-out, box-shadow .4s ease-out;

  &::after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    border-radius: inherit;
    background: $blue-gradient2;
    transition: height .4s ease-out;
    content: '';
  }

  &:hover {
    color: #fff;
    border-color: #c7c9d2;
    box-shadow: 2px 2px 4px #C7C9D2, -2px -2px 4px #FAFBFF;

    &::after {
      height: 100%;
    }
  }
}

.btn-circle {
  width: 34px;
  height: 34px;
  padding-top: 5px;
  background: $grey-gradient;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 4px #C7C9D2, -2px -2px 4px #FAFBFF;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  color: $black;
}

@media (min-width: 1200px) {
  .btn-circle {
    cursor: pointer;
    position: relative;
    transition: color .3s, box-shadow .3s;

    &::after {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      opacity: 0;
      border-radius: inherit;
      background: $blue-gradient2;
      transition: opacity .3s;
      content: '';
    }

    &::before {
      position: relative;
      z-index: 1;
    }

    &:hover {
      color: #fff;
      border-color: #c7c9d2;
      box-shadow: 2px 2px 4px #C7C9D2, -2px -2px 4px #FAFBFF;

      &::after {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1199px) {
  .btn-circle:hover {
    color: $black;
  }
}
