.btn {
  //padding: .375rem 2.5rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 0 solid transparent;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: transparent;
  border-radius: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {
    outline: 0;
  }

  &.disabled,
  &:disabled {
    opacity: .5;
  }
}

.btn-primary,
.btn-secondary {
  min-width: 169px;
  padding: 7px 40px;
  letter-spacing: 0.03em;
}

.btn-primary {
  position: relative;
  overflow: hidden;
  font-weight: 700;
  color: #fff;
  background: $blue-gradient;
  box-shadow: 2px 2px 4px #C7C9D2, -2px -2px 4px #FAFBFF;

  &.disabled:hover,
  &:disabled:hover {
    color: #fff;

    &::after {
      opacity: 0;
    }
  }

  &:active,
  &.active {
    &::after {
      background: linear-gradient(165.41deg, #5B86E5 0%, #36D1DC 100%);
      box-shadow: 2px 2px 4px #C7C9D2, -2px -2px 4px #FAFBFF;
      opacity: 1;
    }
  }
}

.btn-secondary {
  font-size: 18px;
  color: $blue;
  border: 2px solid $blue;
  background-color: transparent;
  transition: background-color .3s, color .3s;

  &:hover {
    color: #fff;
    background-color: $blue;
  }

  &.disabled:hover,
  &:disabled:hover {
    color: $blue;
    background-color: transparent;
  }

  &:active,
  &.active {
    color: #fff;
    background-color: #005DBA;
  }
}

.btn-text {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

.btn-bright {
  padding: 4px 18px;
  line-height: 24px;
  text-align: center;
  color: $black;
  background: $grey-gradient;
  box-shadow: 2px 2px 4px #C7C9D2, -2px -2px 4px #FAFBFF;
  border-radius: 15px;
}

.btn-circle {
  width: 34px;
  height: 34px;
  padding-top: 5px;
  background: $grey-gradient;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  color: $black;
}

@media (min-width: 1200px) {
  .btn-secondary,
  .btn-primary {
    height: 44px;
  }
  .btn-primary {
    &::after {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      content: '';
      opacity: 0;
      z-index: 1;
      background: linear-gradient(165.41deg, #36D1DC 0%, #5B86E5 100%);
      transition: opacity .3s;
    }

    &.disabled,
    &:disabled {
      cursor: default;
    }

    &:hover {
      color: #fff;

      &::after {
        opacity: 1;
      }
    }
  }

  .btn-bright {
    cursor: pointer;
    position: relative;
    transition: color .3s ease-out, box-shadow .3s ease-out;

    &::after {
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      border-radius: inherit;
      background: $blue-gradient2;
      transition: height .3s ease-out;
      content: '';
    }

    &:hover {
      color: #fff;
      border-color: #c7c9d2;
      box-shadow: 2px 2px 4px #C7C9D2, -2px -2px 4px #FAFBFF;

      &::after {
        height: 100%;
      }
    }
  }

  .btn-circle {
    box-shadow: 2px 2px 4px #C7C9D2, -2px -2px 4px #FAFBFF;
  }
}

@media (max-width: 1199px) {
  .btn-primary {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .btn-circle {
    box-shadow: 1px 1px 2px #C7C9D2, -1px -1px 2px #FAFBFF;

    &:hover {
      color: $black;
    }
  }
}


@media (max-width: 575px) {
  .btn {
    font-size: 14px;
    height: 40px;
  }
}
