// Container widths
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) and (max-width: 767px) {
    max-width: 540px
  }

  @media (min-width: 768px) and (max-width: 991px) {
    max-width: 720px
  }

  @media (min-width: 992px) and (max-width: 1099px) {
    max-width: 960px
  }

  @media (min-width: 1100px) and (max-width: 1399px) {
    max-width: 1200px
  }

  @media (min-width: 1400px) {
    max-width: 1400px
  }
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}
