img {
  max-width: 100%;
}

.as-link {
  color: $blue;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    color: $blue2;
  }
}

.link-decor {
  position: relative;

  &::after {
    width: 0;
    height: 1px;
    margin: 0 auto;
    background-color: $black;
    opacity: 0;
    display: block;
    transition: width .3s, opacity .3s;
    content: '';
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
  }
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}
