.as-link {
  color: $blue;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    color: $blue2;
  }
}

.link-decor {
  position: relative;

  &::after {
    width: 0;
    height: 1px;
    margin: 0 auto;
    background-color: $black;
    opacity: 0;
    display: block;
    transition: width .3s, opacity .3s;
    content: '';
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
  }
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

.lead {
  font-weight: 700;
  color: $black;

  @media (min-width: 992px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.main-content {
  margin-bottom: 15px;
}

.list-circle {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.list-circle-link {
  color: $grey;
}

.list-circle-item {
  padding-left: 23px;
  position: relative;

  li::before,
  &::before {
    width: 5px;
    height: 5px;
    position: absolute;
    top: 9px;
    left: 10px;
    border-radius: 50%;
    background-color: $grey;
    content: '';
  }

  ul {
    margin-top: 3px;
  }

  li {
    padding-left: 10px;
    position: relative;

    &::before {
      left: -2px;
    }
  }
}
