@font-face {
  font-display: swap;
  font-family: 'SFUIDisplay';
  src: url('../fonts/SFUIDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'SFUIDisplay';
  src: url('../fonts/sf-ui-display-medium-58646be638f96.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'SFUIDisplay';
  src: url('../fonts/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
