@import "icons-variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?kpw7ur') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  &::before {
    @include coreIcon
  }
}

.icon-extreme {
  &:before {
    content: $icon-extreme;
  }
}

.icon-guitar {
  &:before {
    content: $icon-guitar;
  }
}

.icon-food-tray {
  &:before {
    content: $icon-food-tray;
  }
}

.icon-hair-dye {
  &:before {
    content: $icon-hair-dye;
  }
}

.icon-running {
  &:before {
    content: $icon-running;
  }
}

.icon-education {
  &:before {
    content: $icon-education;
  }
}

.icon-paint {
  &:before {
    content: $icon-paint;
  }
}

.icon-balloon {
  &:before {
    content: $icon-balloon;
  }
}

.icon-attention {
  &:before {
    content: $icon-attention;
  }
}

.icon-chat {
  &:before {
    content: $icon-chat;
  }
}

.icon-notification {
  &:before {
    content: $icon-notification;
  }
}

.icon-time {
  &:before {
    content: $icon-time;
  }
}

.icon-user {
  &:before {
    content: $icon-user;
  }
}

.icon-check-circle {
  &:before {
    content: $icon-check-circle;
  }
}

.icon-check {
  &:before {
    content: $icon-check;
  }
}

.icon-close {
  &:before {
    content: $icon-close;
  }
}

.icon-comment {
  &:before {
    content: $icon-comment;
  }
}

.icon-menu {
  &:before {
    content: $icon-menu;
  }
}

.icon-menu-list {
  &:before {
    content: $icon-menu-list;
  }
}

.icon-menu-circle {
  &:before {
    content: $icon-menu-circle;
  }
}

.icon-minus {
  &:before {
    content: $icon-minus;
  }
}

.icon-like {
  &:before {
    content: $icon-like;
  }
}

.icon-plus {
  &:before {
    content: $icon-plus;
  }
}

.icon-gift {
  &:before {
    content: $icon-gift;
  }
}

.icon-search {
  &:before {
    content: $icon-search;
  }
}

.icon-compare {
  &:before {
    content: $icon-compare;
  }
}

.icon-arrow-long-left {
  &:before {
    content: $icon-arrow-long-left;
  }
}

.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}

.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}

.icon-increase {
  &:before {
    content: $icon-increase;
  }
}

.icon-decrease {
  &:before {
    content: $icon-decrease;
  }
}

.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}

.icon-refresh {
  &:before {
    content: $icon-refresh;
  }
}
