//- Цвет заголовков ( #121212 )
$black: #121212;

//- Цвет наборного текста ( #727272 )
$grey: #727272;

//- Плейсхолдеры / Подсказки ( #A7ADB8 )
$grey2: #A7ADB8;

//- на темном фоне ( #E1E1E1 )
$grey3: #E1E1E1;

//- Цвет текста ссылок ( #0575E6 )
$blue: #0575E6;
$blue2: #021B79;

$grey4: #e3e5ec;
$grey5: #d3d9ed;

$green: #00B728;
$red: #B90000;
$red2: #B52241;

$blue-gradient: linear-gradient(135deg, $blue 0%, $blue2 100%);
$blue-gradient2: linear-gradient(135deg, #36D1DC 0%, #5B86E5 100%);
$blue-gradient3: linear-gradient(135deg, #C2E9FB 0%, #A1C4FD 100%);
$grey-gradient: linear-gradient(135deg, #eeeff4 0%, #f6f7fc 100%);
