@import "../styles/general/settings";
@import "../styles/general/bx-ie";
@import "../styles/general/common";
@import "../styles/general/fonts";
@import "../styles/general/form";
@import "../styles/general/mixin";

/* Используемые цвета*/
$active-checkbox: #3474D4;
$shadow: 0rem 0rem 0.5rem #62A096;

/*Размеры текста*/
$title-text: 1.625rem;
$price-text: 1.5rem;
$name-text: 1.25rem;
$description-text: 1.125rem;
$input-name-text: 1rem;
$default-text: 0.875rem;


p {
  margin: 0;
}

.insurance {
  /*default text*/
  color: $black;
  font-weight: 400;
  font-size: $default-text;
  font-family: $font-family-Roboto;

  ul {
    padding: 0;
    list-style: none;
  }


  &-title {
    font-family: $font-family-GothamProBold;
    font-size: $title-text;
    text-align: center;
    margin-bottom: 3.125rem;
    line-height: 119.7%;
  }

  &-price {
    font-weight: 700;
    font-size: $price-text;
  }

  &-name {
    font-weight: 500;
    line-height: 1.4375rem;
    font-size: $name-text;
  }
}

.hero {
  padding-top: 2.875rem;
  @include w-from($screen-sm) {
    padding-bottom: 7.125rem;
  }
  @include w-from(75rem) {
    padding-top: 4.5625rem;
    padding-bottom: 25vh;
  }

  &__title {
    font-family: $font-family-GothamProBold;
    font-size: 2rem;
    line-height: 119.7%;
    margin-bottom: 1.6875rem;
    color: $white;
  }

  &__subtitle {
    font-family: $font-family-GothamProBold;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 119.7%;
    margin-bottom: 1.0625rem;
    display: flex;
  }

  &__text {
    font-family: $font-family-GothamProBold;
    font-size: 1.125rem;
    line-height: 119.7%;
  }

  .btn {
    margin-top: 105vw;
    width: 100%;
    @include w-from(28.125rem) {
      margin-top: 120vw;
    }
    @include w-from($screen-sm) {
      margin-top: 4.625rem;
    }
  }

  &__checkbox {
    min-width: 1.1875rem;
    height: 1.1875rem;
    border: 0.125rem solid $black;
    box-sizing: border-box;
    border-radius: 0.125rem;
    background-image: url("/ru/coronavirus/img/checkbox.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.8125rem 0.6875rem;
    margin-right: 0.5625rem;
  }
}

.mod-background-image-head {
  background-image: url("/ru/coronavirus/img/hero-mob.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100vw;
  background-color: $white;
  @include w-from($screen-sm) {
    background-image: url("/ru/coronavirus/img/hero.jpg");
    background-size: 150vw;
  }
  @include w-from($screen-md) {
    background-size: cover;
    background-position-x: -45vw;
  }
  @include w-from(63.875rem) {
    background-size: cover;
    background-position: -35rem top;
  }
  @include w-from($screen-lg) {
    background-position: -40rem top;
  }
  @include w-from(93.8125rem) {
    background-position: center top;
  }
  @include w-from(106.25rem) {
    background-size: contain;
  }
  @include w-from(120.0625rem) {
    background-size: cover;
  }
}

.benefits {
  &:not(:last-child) {
    margin-bottom: 3.75rem;
    @include w-from($screen-md) {
      margin-bottom: 0;
    }
  }

  &__img {
    margin-bottom: 3.1875rem;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__text {
    font-size: $description-text;
    text-align: center;
    margin: 0 auto;
  }
}

.product {
  box-shadow: $shadow;
  border-radius: 0.25rem;
  background-color: $white;
  position: relative;
  padding: 8.5rem 1.6875rem 0.75rem;
  margin-bottom: 2.5rem;

  &__head {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto 2.375rem;
    top: -1.375rem;

    img {
      display: block;
      margin: 0 auto;
    }

    .insurance-name {
      padding-top: 1rem;
      text-align: center;
    }
  }

  &__body {
    margin-bottom: 1.4375rem;
  }

  &__text {
    font-size: $default-text;
    line-height: 150%;
    margin-bottom: 0.75rem;

    p:first-of-type {
      margin-bottom: 0.4375rem;
    }
  }

  &__price {
    margin-bottom: 1.4375rem;
    text-align: center;

    p:first-of-type {
      font-size: $description-text;
      line-height: 119.7%;
    }

    .insurance-price {
      margin-top: 0.625rem;
    }
  }

  &__btn {
    width: 100%;
  }
}

.mod-background-image-product {
  background-image: url("/ru/coronavirus/img/product-mob.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  background-color: #68CFBE;
  padding-top: 8.75rem;
  @include w-from(48rem) {
    background-image: url("/ru/coronavirus/img/product.jpg");
    background-size: cover;
    padding-top: 20.75rem;
    margin-top: -4rem;
  }
}

.accordion {
  font-size: $input-name-text;
  padding: 1.4375rem 1.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: $grey-4;
  margin-bottom: 0.9375rem;

  &__head {
    position: relative;
    font-weight: 500;
    line-height: 119.7%;
    padding-bottom: 0.5rem;
  }

  &__body {
    font-size: $input-name-text;
    line-height: 130%;
    @include w-from($screen-md) {
      padding-right: 1.25rem;
    }
  }

  &__arrow {
    display: block;
    background: url(/local/templates/main/images/icons/arrow.svg) no-repeat;
    background-position: center;
    background-size: 0.6875rem 0.375rem;
    min-width: 1.9375rem;
    max-width: 1.9375rem;
    height: 1.9375rem;
    border: 0.125rem solid #3A3A44;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .4s ease;
    margin-left: auto;
  }
}

.radio {
  background-color: $white;
  border-radius: 0.25rem;
  padding: 1rem 1.5625rem 1.125rem 1.375rem;
  width: 100%;
  margin-bottom: 1.25rem;
  border: none;
  cursor: pointer;
  height: 10.375rem;
  text-transform: initial;
  font-weight: initial;
  line-height: initial;
  text-align: initial;
  font-family: $font-family-Roboto;
  position: relative;
  input {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: absolute;
  }

  &.btn:not(:disabled):not(.disabled).active,
  &.btn:not(:disabled):not(.disabled):active {
    background-color: #DAE8FE;
    color: $black;
    .radio__dot {
      border: 0.28125rem solid $active-checkbox;
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__head {
    margin-bottom: 1.25rem;
  }

  &__body {
    margin-bottom: 2.2625rem;
    color: $grey;
    font-size: $default-text;
    line-height: 150%;
  }

  &__dot {
    margin-right: 0.625rem;
  }
}

.nav.nav-tabs {
  border: none;
}

.tab {
  background-color: $white;
  border-radius: 0.25rem;
  height: 5rem;
  padding-top: 1.8125rem;
  padding-left: 0.625rem;
  display: flex;
  margin-bottom: 1.875rem;
  border: none !important;
  color: $black;

  &.active {
    border: none;
    color: $white !important;
    background-color: $grey !important;

    .tab__dot {
      border: 0.28125rem solid $white;
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &:hover {
    border: none;
    color: $black;
  }

  &__dot {
    margin-right: 0.375rem;
  }

  &__wrap {
    display: inline-block;
    height: 100%;
  }

  p {
    font-weight: 500;
    font-size: $default-text;
    line-height: 1rem;
    display: inline-block;
  }

}

.block-fields {
  padding: 2.25rem 1.5625rem;
  background-color: $white;
  border-radius: 0.25rem;
  margin-bottom: 1.875rem;

  &__title {
    font-family: $font-family-GothamProBold;
    font-size: $description-text;
    line-height: 119.7%;
    margin-bottom: 0.8125rem;
    text-align: center;
  }

  &__subtitle {
    font-size: $default-text;
    line-height: 130%;
    margin-bottom: 1.8125rem;
    text-align: center;
  }

  &__input {
    label {
      font-size: $input-name-text;
      margin-bottom: 1.0625rem;
    }

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }
}

.radio__dot, .tab__dot {
  border-radius: 50%;
  display: inline-block;
  border: 0.125rem solid $grey-2;
  width: 1.25rem;
  height: 1.25rem;
}

.agreement {
  display: flex;
  margin-bottom: 1.875rem;

  &__text {
    font-size: 0.75rem;
    line-height: 135%;

    a {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &__checkbox {
    min-width: 1.25rem;
    height: 1.25rem;
    border: 0.125rem solid $grey-2;
    box-sizing: border-box;
    border-radius: 0.125rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.8125rem 0.6875rem;
    margin-right: 0.5625rem;
    cursor: pointer;
    &.active {
      background-image: url("/ru/coronavirus/img/checkbox.png");
    }
  }

  &__btn {
    width: 100%;
  }
}

.mod-background-grey {
  background-color: $grey-4;
  padding-top: 2.1875rem;
  padding-bottom: 4.1875rem;
}

.mod-bottom-block {
  margin-bottom: 3.125rem;
}