@import "../styles/general/settings";
@import "../styles/general/bx-ie";
@import "../styles/general/common";
@import "../styles/general/fonts";
@import "../styles/general/form";
@import "../styles/general/mixin";

.home {
  .catalog-item {
    margin-bottom: 1rem;
  }

  &__liders {
    padding-bottom: 69px;
    @include w-to($screen-md) {
      padding-bottom: 22px;
    }
  }

  &__head {
    padding-top: 24px;
    padding-bottom: 39px;

    .home__link-block {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @include w-from(768px) {
      .home__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .home__link-block {
          margin-bottom: 0;
        }
      }
    }

    @include w-to(768px) {
      padding-top: 20px;
      padding-bottom: 21px;
      .home__block {
        display: flex;
        justify-content: space-between;
      }
      .home__link-block {
        margin: 0;
        width: 100%;
        height: 100%;

        &:first-child {
          margin-right: 8px;
        }

        span {
          font-size: 14px;
          top: 11px;
          left: 12px;
        }

        img {
          width: 100%;
        }
      }
      .home__slider {
        margin-bottom: 15px;
      }
    }
  }

  &__slider {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    visibility: hidden;
    &.slick-initialized {
      visibility: initial;
    }

    a {
      background: white;
      display: inline-block;
      border-radius: 4px;
      width: 100%;
      height: 100%;
    }

    a img {
      object-fit: cover;
      object-position: center;
      border-radius: 4px;
      width: 100%;
      height: 100%;
    }

    .slick-dots {
      padding: 0 1rem 1rem;
      position: absolute;
      right: 0;
      bottom: 0;
      margin-bottom: 0;
      display: flex;
      justify-content: flex-end;

      li {
        margin: 0 10px;
        overflow: hidden;
      }

      button {
        padding: 0;
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid transparent;
        text-indent: -9999px;
        background: #fff;
        border-radius: 50%;
        transition: background .3s ease;

        &:focus {
          outline: 0;
        }

        &::after {
          display: none;
        }
      }

      .slick-active button {
        background: $black;
      }
    }
  }

  &__block {
    a {
      display: block;
    }
  }

  &__title, &__subtitle {
    font-family: $font-family-GothamProBold;
    line-height: 120%;
    color: $black;
  }

  &__title:not(span) {
    margin: 36px 0;
    display: flex;
    align-items: center;

    &:hover {
      svg {
        fill: $orange;
      }

      .home__arrow {
        border-color: $orange;
      }
    }
  }

  &__arrow {
    width: 29px;
    height: 29px;
    border: 2px solid #3A3A44;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin-left: 3.2rem;

    svg {
      width: 13px;
      height: 13px;
      transform: rotate(-90deg);
      margin-left: 2px;
    }
  }

  &__title {
    font-size: 24px;
  }

  &__subtitle {
    font-size: 18px;
  }

  &__link-block {
    position: relative;
    display: block;
    margin-bottom: 0.7rem;
    width: 100%;
    background-color: white;
    border-radius: 4px;

    a {
      display: block;
    }

    img {
      border-radius: 4px;
      object-fit: contain;
      height: 100%;
      width: 100%;
    }

    &:hover {
      span {
        color: $orange;
      }
    }

    span {
      position: absolute;
      top: 22px;
      left: 24px;
    }
  }

  &__banner {
    width: 100%;
    display: block;
    margin-bottom: 3rem;

    img {
      object-position: center;
      object-fit: cover;
      border-radius: 4px;
      height: 100%;
      @include w-to($screen-md) {
        width: 100%;
      }
    }
  }

  &__timer {
    padding-top: 70px;
    @include w-to($screen-md) {
      margin-right: auto;
      margin-left: auto;
    }

    &-wrap {
      background: #2F93A0;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      position: relative;
      padding-top: 8rem;
      justify-content: space-around;
      padding-bottom: 23px;
      @include w-to($screen-md) {
        padding-bottom: 21px;
      }

      img {
        position: absolute;
        top: -9rem;
        width: 100%;
        left: 0;
        @include w-to($screen-md) {
          position: absolute;
          top: -3rem;
          width: 200px;
          height: 162px;
          left: -15px;
        }
        @include w-range(575px, 768px) {
          top: -5rem;
          left: 2rem;
        }
      }
    }

    &-name {
      font-family: $font-family-GothamProBold;
      color: white;
      font-size: 18px;
      line-height: 120%;
      text-align: center;
      padding: 0 15px;
      margin: 0 auto 1rem;
      @include w-to($screen-md) {
        position: absolute;
        top: 2rem;
        max-width: 177px;
        right: 0;
        text-align: left;
        padding: 0;
      }
      @include w-range(575px, 768px) {
        text-align: center;
        top: 6rem;
        right: 3rem;
      }
    }

    &-clock {
      font-weight: 500;
      font-size: 24px;
      line-height: 151%;
      text-align: center;
      display: flex;
      justify-content: space-between;
      max-width: 209px;
      width: 100%;
      @include w-to($screen-md) {
        margin-bottom: 21px;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 58px;
        background: white;
        border-radius: 4px;

        &:not(:last-child) {
          position: relative;

          &:after {
            content: ':';
            color: white;
            position: absolute;
            right: -12px;
          }
        }
      }
    }

    &-btn {
      max-width: 195px;
      width: 100%;
      height: 50px;
    }
  }

  &__additional {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .home__subtitle {
      position: absolute;
      top: 16px;
      left: 14px;
      @include w-to($screen-md) {
        font-size: 14px;
        top: 9px;
        left: 16px;
      }
    }
    .home__block {
      &:hover {
        span {
          color: $orange;
        }
      }

      &:first-of-type {
        margin-bottom: 16px;
        .home__subtitle {
          @include w-to($screen-md) {
            padding-right: 15px;
          }
        }
      }

      position: relative;
      border-radius: 4px;
      a {
        display: block;
        background: white;
        border-radius: 4px;
      }
      a > img {
        object-position: 0 15px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 4px;
      }
    }
  }

  /*  &__news {
      color: $black;
      background-color: $grey-4;
      border-radius: 4px;
      padding: 27px 18px 20px 19px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 71px;
      img {
        max-width: 267px;
        width: 100%;
        height: 167px;
        object-fit: contain;
        margin-right: 11px;
      }
      &-text {
        p:first-of-type {
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;
          margin-bottom: 15px;
        }
        p:nth-child(2) {
          font-size: 14px;
          line-height: 150%;
          margin-bottom: 45px;
        }
      }
      &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        line-height: 150%;
        color: $grey;
        span:last-of-type svg {
          fill: $grey-2;
          width: 14px;
          height: 19px;
          margin-right: 8px;
        }
      }
      &:hover {
        color: $black;
      }
    }*/

  &__subscribe {
    &-first {
      background: $grey-4;
      padding-top: 38px;
      padding-bottom: 46px;
      @include w-to($screen-md) {
        padding-top: 26px;
        padding-bottom: 28px;
      }
    }

    &-last {
      padding: 51px 0;
      background: #6BBBAE;

      @include w-to($screen-md) {
        padding-top: 24px;
        padding-bottom: 28px;
      }

      span {
        font-family: $font-family-GothamProBold;
        font-size: 24px;
        line-height: 120%;
        color: white;
        @include w-to($screen-md) {
          margin-bottom: 26px;
        }
      }

      input {
        border: none;
      }
    }

    &-block {
      display: flex;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    @include w-to($screen-md) {
      flex-direction: column;
    }

    .form-group {
      margin-bottom: 0;
      @include w-to($screen-md) {
        padding: 0;
      }
    }

    .btn-wrap {
      @include w-to($screen-md) {
        padding: 0;
      }
    }

    &-btn {

      height: 50px;

      @include w-to($screen-md) {
        width: 100%;
      }

      span {
        font-size: 12px;
      }
    }

    .input-error input, .input-success input {
      background-color: white;
    }
    .input-error__text {
      position: absolute;
    }
    .input-success__text {
      position: absolute;
      color: white !important;
    }
    .input-error__text, .input-success__text {
      @include w-to($screen-md) {
        top: 46px;
        font-size: 12px;
      }
    }
  }

  &__bullit {

    @include w-to($screen-md) {
      margin-bottom: 46px;
    }

    &-wrap {
      max-width: 195px;
      width: 100%;
      margin: 0 auto;

      svg, img {
        margin-bottom: 11px;
      }

      p:first-of-type {
        font-family: $font-family-GothamProBold;
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 18px;
        min-height: 42px;
      }

      p:last-of-type {
        font-size: 14px;
        line-height: 120%;
        color: $grey;
        margin-bottom: 0;
      }
    }

    &:first-child svg {
      width: 42px;
      height: 35px;
    }

    &:nth-child(2) img {
      width: 33px;
      height: 35px;
    }

    &:nth-child(3) svg {
      width: 31px;
      height: 35px;
    }

    &:last-child svg {
      width: 46px;
      height: 35px;
    }
  }

  .mod-grey-bg {
    background: $grey-4;
  }

  .mod-filter {

    &:hover {
      span {
        color: $orange;
      }
    }

    margin-bottom: 3.75rem;
    @include w-to($screen-md) {
      margin-bottom: 35px;
    }

    img {
      margin-bottom: 1.87rem;
      @include w-to($screen-md) {
        margin-bottom: 30px;
        display: block;
        margin-right: auto;
      }
    }

    span {
      position: static;
      @include w-range(440px, $screen-md) {
        display: block;
      }
      @include w-to(440px){
        display: block;
      }
    }
  }
}