.buy-one-click__modal {
  border-radius: 4px;

  .fancybox-close-small {
    right: 0;
    top: 0;

    svg path {
      stroke-width: 1.8;
    }

    &:focus,
    &:hover {
      color: $black;
    }
  }
}

.buy-one-click__modal-inner {
  max-width: 380px;
  padding: 30px;
}

.buy-one-click__modal-title {
  padding-right: 15px;
  margin: 0 0 45px;
  color: #333;
  font-size: 30px;
  line-height: 1;
}

.buy-one-click__text {
  margin-bottom: 15px;
  font-size: 20px;
  color: #676767;
}

.btn.buy-one-click__modal-btn {
  width: 100%;
}

.oneclick_phone_error {
  top: -30px;
  position: relative;
  color: #ff6700;
}

.buy-button {
  flex: none;
}

.btn.buy-one-click {
  flex: none;
}

@media (min-width: 768px) {
  .item-buttons {
    display: flex;
    flex-wrap: wrap;

    .countdown {
      width: 100%;
    }
  }

  .buy-one-click {
    margin-left: 30px;
  }
}

.buy-one-click {
  @media (max-width: 446px) {
    margin: 15px auto;
  }
}

@media (max-width: 767px) {
  .buy-one-click__modal {
    padding: 0 15px;
  }

  .buy-button {
    margin-bottom: 30px;
  }
}
