.component-aside {
  border: 2px solid $grey-4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px 14px 20px 11px;
  @include w-to($screen-md) {
    width: 100vw;
    margin-left: -8px;
    min-width: initial;
  }

  &__title {
    font-family: $font-family-GothamProBold;
    font-size: 18px;
    line-height: 17px;
    color: $black;
    margin-bottom: 20px;
  }

  &__block {
    @include display-flex();
    align-items: center;
    max-width: 270px;
    width: 100%;
    padding-bottom: 35px;
    margin-bottom: 35px;

    border-bottom: 2px solid #F6F6F6;
    border-radius: 2px;
    position: relative;

    @include w-to($screen-lg) {
      max-width: 100%;
      padding-bottom: 28px;
      margin-bottom: 28px;
    }
  }

  &__img {
    min-width: 56px;
    width: 56px;
    height: 60px;
    background-color: white;
    margin-right: 9px;

    a {
      display: block;
      height: 100%;
    }

    img {
      height: 100%;
      width: 100%;
      border-top-left-radius: 4px;
    }

    @include w-to($screen-lg) {
      margin-left: 5px;
      img {
        border-top-left-radius: 4px;
      }
    }
  }

  &__sign {
    width: 30px;
    height: 30px;
    background: #F6F6F6;
    box-sizing: border-box;
    border-radius: 2px;
    @include display-flex(row, center, center);
    position: absolute;
    bottom: -16px;
    left: 22px;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &__text {
    height: 66px;
    @include display-flex(column);
    @include inIe() {
      display: block;
    }
    justify-content: space-between;
    flex: 1 0;
    @include w-range($screen-sm, $screen-md) {
      @include display-flex(row, center, space-between);
      width: 100%;
      max-width: 100%;
    }
    @include w-to($screen-lg) {
      align-items: baseline;
      min-height: 60px;
      justify-content: space-between;
      -webkit-box-align: start !important;
    }
  }

  &__name {
    @include font-size(14px, 500, 144.7%);
    color: $black;

    a {
      @include font-size(14px, 500, 144.7%);
      color: $black;
    }

    margin-bottom: 11px;
    @include w-to($screen-lg) {
      font-size: 12px;
      margin-bottom: 8px;
      a {
        font-size: 12px;
        margin-bottom: 8px;
      }
    }
  }

  &__price-item {
    @include font-size(18px, 500, 100%);
    color: $black;

    span:first-child {
      margin-right: 8px;
    }

    .mod-price-old {
      @include font-size(14px, 500, 100%);
      color: $grey-2;
    }
  }

  &__price {
    @include font-size(24px, bold, 100.5%);
    color: $black;
    margin-bottom: 28px;
    padding-left: 10px;
    @include w-to($screen-lg) {
      margin-top: 34px;
      margin-bottom: 14px;
    }

    .mod-price-old {
      font-weight: 500;
      font-size: 14px;
      margin-left: 6px;
      line-height: 100%;
    }
  }

  &__list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;

    li span {
      @include font-size(14px, initial, 200%);

      &:last-child {
        font-weight: 600;
      }
    }
  }

  &__link {
    font-size: 14px;
  }

  &__wrap {
    @include w-to($screen-lg) {
      background: white;
      border-radius: 4px;
      padding: 16px 14px 1px;
    }
  }

  .component-aside__wrap &__btn {
    max-width: 195px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    a {
      color: white;
    }

    @include w-to($screen-lg) {
      width: 100%;
      margin-bottom: 18px;
    }
  }
}

.card-product__aside {
  align-self: flex-start;
  @include w-to($screen-md) {
    background: $blue-4;
    &.component-aside {
      border: none;
    }
  }

  &-prize {
    padding-bottom: 8px;
    border-color: #6BBBAE;
    position: relative;
    @include w-from($screen-md) {
      &:before {
        width: 54px;
        height: 54px;
        content: '';
        background:
          url("/local/templates/main/images/icons/bonus.svg") no-repeat center/27px 28px,
          radial-gradient(80% 80% at 23.33% 20%, #6BBBAE 0%, #43A08A 100%) no-repeat;
        position: absolute;
        border-radius: 4px;
        top: -2px;
        right: -2px;
      }
    }
    @include w-to($screen-md) {
      background: #6BBBAE;
      border: none;
      .component-aside__title {
        color: white;
      }
    }

    & .component-aside__img {
      width: 66px;
      height: 84px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .component-aside__name {
      a {
        font-weight: 400;
      }
    }

    .component-aside__price-item {
      font-size: 14px;
      text-decoration: line-through;
      font-weight: 500;
    }

    @include w-to($screen-lg) {
      margin-bottom: 26px;
    }
    @include w-to($screen-sm) {
      .component-aside__wrap {
        @include display-flex();
        background: initial;
        overflow-x: scroll;
        padding: 0;
        @include delScrollbar;

        .component-aside__block {
          background-color: white;
          min-width: 300px;
          width: 100%;
          height: 104px;
          border-radius: 4px;
          margin: 0 20px 5px 0;
          align-items: center;

          &.mod-once {
            margin-right: 0;
          }

          & .component-aside__img {
            width: 66px;
            height: 84px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    .component-aside__block {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 30px;
    }
  }

  &-detail.component-aside {
    border: none;
    padding: 0;
    @include w-to($screen-lg) {
      display: none;
      &.card-product__aside-detail {
        display: block;
        background: white;
        width: 100%;
        margin: 0;
      }
    }
  }
}

.card__aside {
  &-none {
    @include w-to($screen-md) {
      display: none;
    }
  }
}

.mod-link {
  color: $blue;
  cursor: pointer;
  @include w-from($screen-md) {
    &:hover {
      color: $orange;
    }
  }
}

.mod-mobile-color {
  @include w-to($screen-md) {
    background-color: $blue-4;
    border: none;
    border-radius: 0;
  }
}