.detail {

  &__choise {
    @include w-range(992px, 1200px) {
      margin-top: 30px;
    }
  }

  &__announcement {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 150%;
  }

  &__price {
    margin-bottom: 22px;
    @include font-size(36px, bold, 100.5%);
    color: $black;

    .mod-price-old {
      @include font-size(16px, 400, 100%);
      color: $grey-2;
    }

    @include w-to($screen-md) {
      @include display-flex(row-reverse, flex-end, flex-end);
      margin-bottom: 17px;
      p:last-child {
        margin-bottom: 8px;
        margin-right: 30px;
      }
    }
  }

  &__btns {
    margin-bottom: 36px;

    button {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      width: 100%;
    }

    @include w-to($screen-md) {
      margin-bottom: 30px;
    }
  }

  &__date-delivery {
    max-width: 370px;
    width: 100%;
    height: 50px;
    background: $grey-4;
    border-radius: 4px;
    margin: 37px 0;
    position: relative;

    &-icon {
      display: inline-flex;
      width: 64px;
      background: linear-gradient(174.63deg, #47A7F4 4.24%, #4974E9 83.53%);
      border-radius: 4px 0 0 4px;
      height: 100%;
      justify-content: center;
      align-items: center;
      margin-right: 1.3rem;
      svg {
        width: 43px;
        height: 25px;
      }
    }
    &-text {
      display: inline-block;
      margin-top: 7px;
      margin-bottom: 7px;
      p:first-of-type {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        margin-bottom: 4px;
      }
      p:last-of-type {
        margin: 0;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        color: #47A7F4;
        line-height: 100%;
      }
    }
  }

  &__choise-text {
    font-size: 14px;
    line-height: 14px;
    @include w-to($screen-md) {
      font-size: 12px;
      margin-bottom: 26px;
    }
    p:not(:last-child) {
      @include w-to($screen-md) {
        margin-bottom: 0.8rem;
      }
    }

    span:last-of-type {
      font-weight: bold;
    }
  }

  &__send {
    position: relative;
    max-width: 370px;
    width: 100%;

    input {
      font-size: 14px;
      line-height: 16px;
      @include w-to($screen-md) {
        font-size: 12px;
      }
    }

    button {
      width: 34px;
      height: 25px;
      position: absolute;
      right: 2px;
      top: 10px;
      background: transparent;
      border: none;
      outline: none;
      &:focus {
        outline: none;
      }
    }

    svg {
      width: 22px;
      height: 19px;
      fill: $orange;
      pointer-events: none;
    }
  }
}