.detail-modal {
  z-index: 99999 !important;
  @include w-to($screen-md) {
    z-index: 100000 !important;
  }
  .close-modal {
    z-index: 1;
  }

  &__title {
    font-family: $font-family-GothamProBold;
    @include font-size(18px, bold 120%);
    margin-bottom: 17px;
    @include w-to($screen-md) {
      @include font-size(14px, bold 120%);
      margin-bottom: 35px;
    }
  }

  &__img {
    width: 103px;
    height: 110px;
    object-fit: contain;
    margin-right: 8px;
  }
  &__descr {
    display: inline-block;
    @include w-to($screen-md) {
      width: 100%;
      height: 70px;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__name {
    @include font-size(16px, 500, 100%);
    margin-bottom: 18px;
    @include w-to($screen-md) {
      @include font-size(14px, 500, 130%);
    }
  }
  &__price {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 700;
    @include display-flex(row, flex-end);
    @include w-to($screen-md) {
      font-size: 18px;
      max-width: 157px;
      width: 100%;
    }
    .mod-price-old {
      font-size: 18px;
      margin-left: 15px;
      margin-bottom: 0;
      @include w-to($screen-md) {
        font-size: 14px;
      }
    }
  }
  &__body {
    margin-bottom: 8px;
    @include display-flex(row, center);
    @include w-to($screen-md) {
      @include display-flex(row, flex-start);
      margin-bottom: 25px;
      img {
        width: 67px;
        height: 82px;
      }
    }
  }
  &__footer {
    margin-bottom: 21px;
    @include w-to($screen-md) {
      flex-direction: column;
      align-items: flex-start;

      span {
        &:first-of-type {
          margin-bottom: 19px;
        }
      }

      .detail-modal__btns {
        display: inline-flex;
        flex-direction: column;
        align-items: center;

        button:first-of-type {
          margin-bottom: 14px;
          margin-right: 0;
        }
        .buy-item {
          max-width: 195px;
          width: 100%;
        }

        @include w-to($screen-md) {
          width: 100%;
          max-width: 100%;
          margin-left: 0;
        }
      }
    }

    span {
      @include font-size(14px, initial, 100%);
      color: $grey;
      .mod-bold {
        font-weight: 700;
        color: $black;
      }
    }
    @include display-flex(row, center, space-between);
    .btn {
      max-width: 195px;
      width: 100%;
      display: inline-block;
      padding: 0;
      height: 50px;
      @include w-to($screen-md) {
        max-width: 272px;
        height: 60px;
      }
    }
    a.btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .btn-outline-primary {
      margin-right: 14px;
    }
    .buy-item {
      display: inline;
    }

    &-footer-in-basket {
      @include w-to($screen-md) {
        margin-bottom: 24px;
      }
    }
  }
  &__btns {
    display: inline-block;
    margin-left: auto;
    max-width: 420px;
    width: 100%;
  }
}

#buy-onecklick-modal {
  z-index: 100001;
  .modal-dialog {
    justify-content: center;
  }
  .modal-content {
    max-width: 400px;
    width: 100%;
  }
  .form-group {
    width: 100%;
  }
  #detail-modal-phone {
    margin-bottom: 15px;
  }
  button {
    max-width: 195px;
    width: 100%;
  }
}

#buy-zoom-modal {
  padding-right: 0 !important;

  .modal-dialog {
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  .modal-content {
    margin: 0;
    border: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;
  }

  .modal-body {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    @include w-from($screen-md) {
      padding: 1.93rem 2.5rem 1.62rem;
    }
  }

  .modal-header {
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 2;
    position: relative;

    font-family: $font-family-GothamProBold;
    font-size: 24px;
    line-height: 120%;
    color: $black;

    .detail-modal__close{
      cursor: pointer;
      @include incClickArea();
      position: absolute;
      right: 0;
    }

    svg {
      width: 17px;
      height: 17px;
      fill: $black;
      cursor: pointer;
    }
  }

  .detail__wrap-top {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: initial;

    .detail__slides {
      padding: 4rem 0 6rem;
      height: 100%;
      margin: 0;
      .slick-list {
        height: 100%;
      }
      .slick-track {
        height: 100%;
        width: 100% !important;
      }

      .detail__slide {
        height: 100%;
        margin: 0 auto;
        position: absolute !important;
        left: 0;
        right: 0;
        width: 100%;
        img {
          max-width: 36vw;
          height: 100%;
          object-fit: contain;
          display: block;
          margin: 0 auto;
          @include w-to($screen-md) {
            max-width: 100%;
            width: 100%;
          }
        }
      }
    }

    .component-arrow {
      width: 60px;
      height: 50px;
      display: none;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 6px #E6E6EF;
      border-radius: 4px;
      top: 45%;
      @include w-to($screen-md) {
        box-shadow: none;
        top: initial;
        bottom: 0;
      }
      &__left {
        left: 2.5rem;
        z-index: 2;
        @include w-to($screen-md) {
          left: 0.5rem;
          z-index: 100000;
        }
      }
      &__right {
        right: 2.5rem;
        z-index: 2;
        @include w-to($screen-md) {
          right: 0.5rem;
          z-index: 100000;
        }
      }
    }
  }

  .detail__wrap-nav {
    margin: 0 auto;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 1.5rem;

    .detail__nav {
      width: 100%;
      margin: 0 auto;
    }
  }
  .detail__btns {
    right: 2.5rem;
    position: absolute;
    bottom: -0.5rem;
    @include display-flex(column);
    max-width: 195px;
    width: 100%;

    button.btn {
      width: 100%;
      height: 50px;
      font-family: $font-family-GothamProBold;
      font-size: 12px;
      line-height: 11px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      padding: 0;
    }

    .detail__price {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;
      margin-bottom: 1rem;
      p {
        margin: 0;
      }
      p:first-of-type {
        font-weight: bold;
        font-size: 24px;
        line-height: 100.5%;
        color: $black;
      }
      .mod-price-old {
        font-size: 16px;
        line-height: 100%;
        color: $grey-2;
      }
    }
  }
  .detail__slider-wrap {
    .detail__slider-body {
      @include display-flex(row, center, center);
      .detail__nav {
        margin: 0;
      }
    }
  }
  .detail__slider-video {
    display: none;
    width: 100%;
    height: 100%;
    max-width: 60vw;
    max-height: 33vw;
    margin: 4% auto;
  }
}

.modal-backdrop.fade.show {
  z-index: 100000 !important;
}
#buy-modal, #buy-onecklick-modal  {
  z-index: 100001 !important;
}
