.detail {
  &__images {
    padding-top: 9px;

    @include w-to($screen-md) {
      @include display-flex(row, flex-start, center);
      width: 100%;
      margin-right: 0;
      max-height: 271px;
      padding-top: 19px;
      margin-bottom: 60px;
    }
  }

  &__slider {
    @include w-to($screen-md) {
      max-height: 320px;
      height: 100%;
      width: 100%;
      max-width: 100%;
      z-index: 100000 !important;
    }
    @include w-to($screen-sm) {
      max-height: 237px;
      height: 100%;
    }

    .slick-active.slick-current {
      box-shadow: none !important;
      @include w-to($screen-md) {
        background: $black !important;
        @include incClickArea(5px);
      }
    }
  }

  &__slides {
    margin-bottom: 23px;
    overflow-y: hidden;
    height: 475px;
    @include w-to($screen-md) {
      height: 300px;
      .slick-dots {
        margin-bottom: -16px;
        bottom: 29px;
        z-index: 1;
      }
      .slick-dots li button:before {
        content: '';
        width: 13px;
        height: 13px;
        background-color: $grey-2;
        border-radius: 50%;
      }
      .slick-dots li.slick-active button:before {
        background-color: $black;
      }
    }
    @include w-range(574px, $screen-md) {
      height: 370px;
    }
  }

  &__slide {
    margin: 0 100vw;
    outline: none;
    background-color: white;

    img {
      outline: none;
      background-color: white;
      pointer-events: none;
      @include w-from($screen-md) {
        height: 475px;
        width: 100%;
        object-fit: cover;
      }
      @include w-to($screen-md) {
        height: 320px;
        margin-bottom: 0;
      }
      @include w-to($screen-sm) {
        height: 250px;
        margin-bottom: 0;
        object-fit: cover;
      }
    }

    &-placeholder {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__wrap-top {
    position: relative;
    cursor: pointer;

    & .component-arrow {
      position: absolute;
      top: 35%;
      box-shadow: none;
      width: 30px;
      z-index: 1;
      &:hover {
        background-color: white;
      }
      &__left {
        left: 0;
      }
      &__right {
        right: 0;
      }
      @include w-from($screen-md) {
        display: none;
      }
    }
  }

  &__wrap-nav {
    position: relative;
    .component-arrow {
      position: absolute;
      top: 8px;
      box-shadow: none;
      width: 30px;
      &:hover {
        background-color: white;
      }
      @include w-to($screen-md) {
        display: none;
      }
      &__left{
        left: 25px;
      }
      &__right {
        right: 25px;
      }
    }
    &.mod-dnone {
      display: none;
      opacity: 0;
    }
  }

  &__nav {
    max-height: 66px;
    overflow: hidden;
    max-width: 280px;
    width: 280px;
    margin: 0 auto;

    &-desktop {
      display: none;
    }
  }

  &__slide-nav {
    height: 54px;
    width: 54px;
    max-width: 54px;
    box-shadow: 0 2px 6px #E6E6EF;
    border-radius: 4px;
    margin: 4px 9px;
    display: flex;
    padding-top: 6px;
    outline: none;
    cursor: pointer;

    img {
      width: 41px;
      height: 41px;
      object-fit: contain;
      margin: 0 auto;
    }

    &.slick-active.slick-current {
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: $grey-2;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 4px;
        opacity: 0.5;
      }
    }
  }
}

/*
.slick-frame {
  visibility: hidden;
}
.slick-frame.slick-initialized {
  visibility: visible;
}*/
