<!DOCTYPE html>
<html lang="ru">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{ title }}</title>
    {% block styles %}
      <link rel="stylesheet" href="/css/styles{{ versionDevice }}.min.css?ver=3.4">
    {% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#111111">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#e3e5ec">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#e3e5ec">
  {% endblock %}
</head>
<body>
{% block topPanel %}{% endblock %}
{% block breadcrumb %}{% endblock %}

{% include '../mobile/header.twig' %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

{% block modal %}{% endblock %}

{% block search %}{% endblock %}

{% block entertainment %}{% endblock %}

{% block searchPanel %}{% endblock %}

{% block searchResult %}{% endblock %}

{% include '../mobile/menu.twig' %}

{% block scripts %}
  <script src="/js/libs.js?ver=1.3"></script>
  <script src="/js/scripts{{ versionDevice }}.min.js?ver=2.9"></script>
{% endblock %}
</body>
</html>
