<div class="modal-wrapper" id="modal-auth">
  <div class="modal-box">
    <div class="modal-close btn-circle icon-close"></div>

    <form id="modal-login" class="modal-form">
      <h2 class="modal-title">Вход</h2>

      <div class="modal-subtitle">Для входа используйте ваш е-mail и&nbsp;пароль</div>

      <div class="form-group">
        <label class="sr-only">Введите e-mail</label>
        <input type="email" name="email" class="form-control hide-placeholder" placeholder="Введите e-mail *">
      </div>

      <div class="form-group">
        <label class="sr-only">Пароль</label>
        <input type="password" name="password" class="form-control hide-placeholder" placeholder="Пароль *">
      </div>

      <div class="form-group__btn">
        <button type="submit" class="btn btn-primary"><span class="btn-text">Войти</span></button>
        <div class="form-group__link as-link js__forgot">Забыли пароли?</div>
      </div>

      <div class="modal-box__bottom">
        <div class="modal-box__bottom-text">У вас нет аккаунта на Fun2Day?</div>
        <div class="as-link js__register">Зарегистрироваться</div>
      </div>
    </form>

    <form id="modal-forgot" class="modal-form">
      <h2 class="modal-title">Восстановления пароля</h2>

      <div class="modal-subtitle">Укажите адрес электронной почты, который вы&nbsp;использовали при регистрации.</div>

      <div class="form-group">
        <input type="email" name="inputForgotEmail" class="form-control hide-placeholder" placeholder="E-mail *">
      </div>

      <div class="form-group__btn">
        <button type="submit" class="btn btn-primary"><span class="btn-text">Восстановить</span></button>
        <div class="form-group__link as-link js__login">Вспомнили пароль?</div>
      </div>

      <div class="modal-box__bottom">
        <div class="modal-box__bottom-text">У вас нет аккаунта на Fun2Day?</div>
        <div class="as-link js__register">Зарегистрироваться</div>
      </div>
    </form>

    <form id="modal-register" class="modal-form">
      <h2 class="modal-title">Регистрация</h2>

      <div class="modal-subtitle">
        Укажите адрес электронной почты, мы&nbsp;отправим вам
        пароль для входа в&nbsp;личный кабинет
      </div>

      <div class="form-group">
        <input type="email" name="inputRegisterEmail" class="form-control hide-placeholder" placeholder="Укажите Ваш E-mail *">
      </div>

      <div class="form-group">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" name="agreeRegister" class="custom-control-input">
          <span class="custom-control-label icon-check">Согласие на обработку</span>
        </label>
      </div>

      <div class="form-group__btn">
        <button type="submit" class="btn btn-primary"><span class="btn-text">Зарегистрироваться</span></button>
      </div>

      <div class="modal-box__bottom">
        <div class="modal-box__bottom-text">Уже есть аккаунт на Fun2Day?</div>
        <div class="as-link js__login">Войти</div>
      </div>
    </form>
  </div>
</div>


<div class="modal-wrapper" id="modal-auth__org">
  <div class="modal-box">
    <div class="modal-close btn-circle icon-close"></div>

    <form id="modal-login__org" class="modal-form">
      <h2 class="modal-title">Войти как организатор</h2>

      <div class="modal-subtitle">Для входа используйте ваш е-mail и&nbsp;пароль</div>

      <div class="form-group">
        <label class="sr-only">Введите e-mail</label>
        <input type="email" name="email" class="form-control hide-placeholder" placeholder="Введите e-mail *">
      </div>

      <div class="form-group">
        <label class="sr-only">Пароль</label>
        <input type="password" name="password" class="form-control hide-placeholder" placeholder="Пароль *">
      </div>

      <div class="form-group__btn">
        <button type="submit" class="btn btn-primary"><span class="btn-text">Войти</span></button>
        <div class="form-group__link as-link js__forgot__org">Забыли пароли?</div>
      </div>

      <div class="modal-box__bottom">
        <div class="modal-box__bottom-text">У вас нет аккаунта на Fun2Day?</div>
        <div class="as-link js__register__org">Зарегистрироваться</div>
      </div>
    </form>

    <form id="modal-forgot__org" class="modal-form">
      <h2 class="modal-title">Восстановления пароля</h2>

      <div class="modal-subtitle">Укажите адрес электронной почты, который вы&nbsp;использовали при регистрации.</div>

      <div class="form-group">
        <input type="email" name="inputForgotEmail" class="form-control hide-placeholder" placeholder="E-mail *">
      </div>

      <div class="form-group__btn">
        <button type="submit" class="btn btn-primary"><span class="btn-text">Восстановить</span></button>
        <div class="form-group__link as-link js__login__org">Вспомнили пароль?</div>
      </div>

      <div class="modal-box__bottom">
        <div class="modal-box__bottom-text">У вас нет аккаунта на Fun2Day?</div>
        <div class="as-link js__register__org">Зарегистрироваться</div>
      </div>
    </form>

    <form id="modal-register__org" class="modal-form">
      <h2 class="modal-title">Регистрация организатора</h2>

      <div class="mb-4">
        <h3 class="mb-1">Личные данные</h3>

        <div class="modal-subtitle">
          Укажите адрес электронной почты, мы&nbsp;отправим вам
          пароль для входа в&nbsp;личный кабинет
        </div>

        <div class="form-group">
          <label class="sr-only">Укажите Ваш E-mail</label>
          <input type="email" name="inputRegisterEmail" class="form-control hide-placeholder" placeholder="Укажите Ваш E-mail *">
        </div>

        <div class="modal-subtitle">Укажите телефон для сотрудников компании Фан2дэй</div>
        <div class="form-group">
          <label class="sr-only">Укажите телефон</label>
          <input type="tel" name="inputRegisterTel" class="form-control hide-placeholder js__phone" placeholder="+7 (___) ___ - __ - __ *">
        </div>
      </div>

      <h3 class="mb-4">Данные организации</h3>

      <div class="modal-form__group form-group">
        <label class="modal-form__group-item custom-control custom-radio">
          <input type="radio" name="radio2" class="custom-control-input">
          <span class="custom-control-label">Физ. лицо</span>
        </label>
        <label class="modal-form__group-item custom-control custom-radio">
          <input type="radio" name="radio2" class="custom-control-input" checked="">
          <span class="custom-control-label">Юр. лицо</span>
        </label>
        <label class="modal-form__group-item custom-control custom-radio">
          <input type="radio" name="radio2" class="custom-control-input">
          <span class="custom-control-label">ИП</span>
        </label>
      </div>

      <div class="form-group">
        <label class="sr-only">Название организации</label>
        <input type="text" class="form-control hide-placeholder" placeholder="Название организации">
      </div>

      <div class="form-group">
        <label class="sr-only">Введите ИНН</label>
        <input type="text" class="form-control hide-placeholder" placeholder="Введите ИНН">
      </div>

      <div class="form-group">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" name="agreeRegister" class="custom-control-input">
          <span class="custom-control-label icon-check">Согласие на обработку</span>
        </label>
      </div>

      <div class="form-group__btn">
        <button type="submit" class="btn btn-primary"><span class="btn-text">Зарегистрироваться</span></button>
      </div>

      <div class="modal-box__bottom">
        <div class="modal-box__bottom-text">Уже есть аккаунт на Fun2Day?</div>
        <div class="as-link js__login__org">Войти</div>
      </div>
    </form>

    <div class="modal-form" id="modal-recovery">
      <h2>Восстановления пароля</h2>

      <div>
        Мы отправили письмо с инструкцией по восстановлению пароля на адрес
        <a href="Myemail@gmail.com">Myemail@gmail.com</a>
      </div>

      <div class="modal-box__bottom">
        <span class="as-link">Войти</span>
      </div>
    </div>
  </div>
</div>


<div class="modal-wrapper modal-open" id="modal-add-event">
  <div class="modal-add-event container">
    <div class="modal-add-event__holder">
      <div class="modal-add-event__title h1">Добавление мероприятия</div>

      <p class="mb-4">Вы можете выбрать не более 2х вариантов</p>

      <div class="modal-add-event__container js__tabs">
        <ul class="entertainment-sidebar nav-section js__tabs-list">
          <li class="nav-section-item tab-links icon-arrow-right js__tab-nav active" data-tab="nav-section-item-01">
            <span class="icon-paint"></span>
            <span class="nav-section-item__text">Творчество</span>
          </li>
          <li class="nav-section-item tab-links icon-arrow-right js__tab-nav" data-tab="nav-section-item-02">
            <span class="icon-guitar"></span>
            <span class="nav-section-item__text">Музыка</span>
          </li>

          <li class="nav-section-item tab-links icon-arrow-right js__tab-nav" data-tab="nav-section-item-03">
            <span class="icon-food-tray"></span>
            <span class="nav-section-item__text">Еда и напитки</span>
          </li>
          <li class="nav-section-item tab-links icon-arrow-right js__tab-nav" data-tab="nav-section-item-04">
            <span class="icon-self-care"></span>
            <span class="nav-section-item__text">Уход за собой</span>
          </li>
          <li class="nav-section-item tab-links icon-arrow-right js__tab-nav" data-tab="nav-section-item-05">
            <span class="icon-extreme"></span>
            <span class="nav-section-item__text">Экстрим</span>
          </li>
          <li class="nav-section-item tab-links icon-arrow-right js__tab-nav" data-tab="nav-section-item-06">
            <span class="icon-running"></span>
            <span class="nav-section-item__text">Спорт</span>
          </li>
          <li class="nav-section-item tab-links icon-arrow-right js__tab-nav" data-tab="nav-section-item-07">
            <span class="icon-education"></span>
            <span class="nav-section-item__text">Развитие</span>
          </li>
          <li class="nav-section-item tab-links icon-arrow-right js__tab-nav" data-tab="nav-section-item-08">
            <span class="icon-balloon"></span>
            <span class="nav-section-item__text">Разное</span>
          </li>
        </ul>

        <div class="entertainment-content">
          <div class="entertainment-section tab-panel js__tab-panel active" id="nav-section-item-01">
            <h2 class="entertainment-title">
              <a href="#" class="entertainment-title__link link-decor">Творчество</a>
            </h2>

            <div class="entertainment-boxed">
              <div class="entertainment-box">
                <div class="entertainment-box__title">
                  <a href="#" class="entertainment-box__title-link link-decor">Сделай сам</a>
                </div>
                <ul class="entertainment-box__list list-unstyled">
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Роспись по стеклу</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Валяние из войлока</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Приготовление мыла</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Создание авторских украшений</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс по живописи</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс по флористике</span>
                    </label>
                  </li>
                </ul>
              </div>


              <div class="entertainment-box">
                <div class="entertainment-box__title">
                  <a href="#" class="entertainment-box__title-link link-decor">Кулинария</a>
                </div>
                <ul class="entertainment-box__list list-unstyled">
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс бармена</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Приготовление суши</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Кондитерское искусство</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер-класс по приготовлению пряников</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс по шоколадоварению</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Церемония приготовления какао</span>
                    </label>
                  </li>
                </ul>
              </div>


              <div class="entertainment-box">
                <div class="entertainment-box__title">
                  <a href="#" class="entertainment-box__title-link link-decor">Танцевальное</a>
                </div>
                <ul class="entertainment-box__list list-unstyled">
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс по восточным танцам</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс по хип-хопу</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс по балету</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс по танго</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс по бачате</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс по брейкдансу</span>
                    </label>
                  </li>
                </ul>
              </div>

              <div class="entertainment-box">
                <div class="entertainment-box__title">
                  <a href="#" class="entertainment-box__title-link link-decor">Музыкальное</a>
                </div>
                <ul class="entertainment-box__list list-unstyled">
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс по вокалу</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс игры на барабанах</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс DJ</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс игры на фортепиано</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс игры на гитаре</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс игры на флейте</span>
                    </label>
                  </li>
                </ul>
              </div>

              <div class="entertainment-box">
                <div class="entertainment-box__title">
                  <a href="#" class="entertainment-box__title-link link-decor">Детям</a>
                </div>
                <ul class="entertainment-box__list list-unstyled">
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Аквапарк</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Картинг</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Батуты</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Парк игрового обучения</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Развивающие игры</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Детский лагерь</span>
                    </label>
                  </li>
                </ul>
              </div>

              <div class="entertainment-box">
                <div class="entertainment-box__title">
                  <a href="#" class="entertainment-box__title-link link-decor">Разное</a>
                </div>
                <ul class="entertainment-box__list list-unstyled">
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс жонглирования</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Курс по файершоу</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс макияжа</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Мастер класс прически</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Рыбалка</span>
                    </label>
                  </li>
                  <li class="modal-add-event__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label icon-check">Актерское мастерство</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="entertainment-section tab-panel js__tab-panel" id="nav-section-item-02">
            <h2 class="entertainment-title">
              <a href="#" class="entertainment-title__link link-decor">Музыка</a>
            </h2>
          </div>

          <div class="entertainment-section tab-panel js__tab-panel" id="nav-section-item-03">
            <h2 class="entertainment-title">
              <a href="#" class="entertainment-title__link link-decor">Еда и напитки</a>
            </h2>
          </div>

          <div class="entertainment-section tab-panel js__tab-panel" id="nav-section-item-04">
            <h2 class="entertainment-title">
              <a href="#" class="entertainment-title__link link-decor">Уход за собою</a>
            </h2>
          </div>

          <div class="entertainment-section tab-panel js__tab-panel" id="nav-section-item-05">
            <h2 class="entertainment-title">
              <a href="#" class="entertainment-title__link link-decor">Экстрим</a>
            </h2>
          </div>

          <div class="entertainment-section tab-panel js__tab-panel" id="nav-section-item-06">
            <h2 class="entertainment-title">
              <a href="#" class="entertainment-title__link link-decor">Спорт</a>
            </h2>
          </div>

          <div class="entertainment-section tab-panel js__tab-panel" id="nav-section-item-07">
            <h2 class="entertainment-title">
              <a href="#" class="entertainment-title__link link-decor">Развитие</a>
            </h2>
          </div>

          <div class="entertainment-section tab-panel js__tab-panel" id="nav-section-item-08">
            <h2 class="entertainment-title">
              <a href="#" class="entertainment-title__link link-decor">Разное</a>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

