<!-- BEGIN: desktop component -->
<nav class="top-panel">
  <div class="top-panel-holder container">
    <div class="top-panel-all btn btn-bright icon-menu-list top-panel-all__JS">
      <span class="btn-text">Все развлечения</span>
    </div>

    <div class="top-panel-search btn-circle icon-search js__search"></div>

    <ul class="top-panel-nav list-unstyled">
      <li class="top-panel-nav__item"><a href="#" class="top-panel-nav__link link-decor">О проекте</a></li>
      <li class="top-panel-nav__item"><a href="#" class="top-panel-nav__link link-decor">Гарантии</a></li>
      <li class="top-panel-nav__item"><a href="#" class="top-panel-nav__link link-decor">Staycation</a></li>
      <li class="top-panel-nav__item"><a href="#" class="top-panel-nav__link link-decor">Главная</a></li>
      <li class="top-panel-nav__item"><a href="#" class="top-panel-nav__link link-decor">Блог</a></li>
      <li class="top-panel-nav__item"><a href="#" class="top-panel-nav__link link-decor">Стать организатором</a></li>
    </ul>

    <ul>
      <li>
        <a href="#">
          
        </a>
      </li>
    </ul>

    <a href="#" class="top-panel-compare btn-circle icon-compare">
      <span class="top-panel-compare__counter">2</span>
    </a>

    {% if online == "true" %}
      <div class="top-panel-user">
        <div class="top-panel-user__control icon-arrow-down">
          <div class="top-panel-user__media">
            <img src="img/example/avatar-03.jpg" alt="">
          </div>
        </div>
        <div class="top-panel-user__menu">
          <ul class="personal-area-menu list-unstyled">
            <li class="personal-area-menu__item icon-arrow-right">
              <a href="#" class="personal-area-menu__link icon-orders">Заказы</a>
            </li>
            <li class="personal-area-menu__item icon-arrow-right">
              <a href="#" class="personal-area-menu__link icon-location">Мероприятия</a>
            </li>
            <li class="personal-area-menu__item icon-arrow-right">
              <a href="#" class="personal-area-menu__link icon-settings">Настройки</a>
            </li>
            <li class="personal-area-menu__item icon-arrow-right">
              <a href="#" class="personal-area-menu__link icon-support">Поддержка</a>
            </li>
          </ul>
          <a href="#" class="personal-area-out">Выйти</a>
        </div>
      </div>
    {% else %}
      <div class="btn btn-bright js__login">
        <span class="btn-text">Войти</span>
      </div>
    {% endif %}
  </div>
</nav>
<!-- END: desktop component -->
