<!-- BEGIN: desktop component -->
<nav class="top-panel">
  <div class="top-panel-holder container">
    <div class="top-panel-all btn btn-bright icon-menu-list top-panel-all__JS">
      <span class="btn-text">Все развлечения</span>
    </div>

    <div class="top-panel-search btn-circle icon-search js__search"></div>

    <ul class="top-panel-nav list-unstyled">
      <li class="top-panel-nav__item"><a href="#" class="top-panel-nav__link link-decor">О проекте</a></li>
      <li class="top-panel-nav__item"><a href="#" class="top-panel-nav__link link-decor">Гарантии</a></li>
      <li class="top-panel-nav__item"><a href="#" class="top-panel-nav__link link-decor">Staycation</a></li>
      <li class="top-panel-nav__item"><a href="#" class="top-panel-nav__link link-decor">Главная</a></li>
      <li class="top-panel-nav__item"><a href="#" class="top-panel-nav__link link-decor">Блог</a></li>
      <li class="top-panel-nav__item"><a href="#" class="top-panel-nav__link link-decor">Стать организатором</a></li>
    </ul>

    <div class="dropdown">
      <div class="dropdown-toggle icon-arrow-down">
        <svg class="dropdown-icon">
          <use xlink:href="img/countries.svg#ru"></use>
        </svg>
        RU
      </div>
      <form class="dropdown-menu">
        <ul class="dropdown-list list-unstyled">
          <li class="dropdown-item">
            <label class="custom-control custom-radio">
              <input type="radio" name="radio2" class="custom-control-input" checked>
              <span class="custom-control-label">
              <svg class="dropdown-icon">
                <use xlink:href="img/countries.svg#ru"></use>
              </svg> Русский (RU)
              </span>
            </label>
          </li>
          <li class="dropdown-item">
            <label class="custom-control custom-radio">
              <input type="radio" name="radio2" class="custom-control-input">
              <span class="custom-control-label">
              <svg class="dropdown-icon">
                <use xlink:href="img/countries.svg#uk"></use>
              </svg> English (UK)
              </span>
            </label>
          </li>
          <li class="dropdown-item">
            <label class="custom-control custom-radio">
              <input type="radio" name="radio2" class="custom-control-input">
              <span class="custom-control-label">
              <svg class="dropdown-icon">
                <use xlink:href="img/countries.svg#es"></use>
              </svg> Español (ES)
              </span>
            </label>
          </li>
          <li class="dropdown-item">
            <label class="custom-control custom-radio">
              <input type="radio" name="radio2" class="custom-control-input">
              <span class="custom-control-label">
              <svg class="dropdown-icon">
                <use xlink:href="img/countries.svg#pt"></use>
              </svg> Português (PT)
              </span>
            </label>
          </li>
          <li class="dropdown-item">
            <label class="custom-control custom-radio">
              <input type="radio" name="radio2" class="custom-control-input" >
              <span class="custom-control-label">
              <svg class="dropdown-icon">
                <use xlink:href="img/countries.svg#cn"></use>
              </svg> 繁體中文 (CN)
              </span>
            </label>
          </li>
        </ul>

        <div class="dropdown-bottom">
          <button class="btn-secondary btn"><span class="btn-text">Изменить</span></button>
        </div>
      </form>
    </div>

    <div class="top-panel-currency dropdown">
      <div class="dropdown-toggle icon-arrow-down">RUB</div>
      <form class="dropdown-menu">
        <ul class="dropdown-list list-unstyled">
          <li class="dropdown-item">
            <label class="custom-control custom-radio">
              <input type="radio" name="radio2" class="custom-control-input" checked>
              <span class="custom-control-label">RUB - Russian Ruble</span>
            </label>
          </li>
          <li class="dropdown-item">
            <label class="custom-control custom-radio">
              <input type="radio" name="radio2" class="custom-control-input">
              <span class="custom-control-label">USD - U.S. Dollar</span>
            </label>
          </li>
          <li class="dropdown-item">
            <label class="custom-control custom-radio">
              <input type="radio" name="radio2" class="custom-control-input">
              <span class="custom-control-label">EUR - Euro</span>
            </label>
          </li>
          <li class="dropdown-item">
            <label class="custom-control custom-radio">
              <input type="radio" name="radio2" class="custom-control-input">
              <span class="custom-control-label">GBP - Pound sterling</span>
            </label>
          </li>
          <li class="dropdown-item">
            <label class="custom-control custom-radio">
              <input type="radio" name="radio2" class="custom-control-input">
              <span class="custom-control-label">CNY - Yuán</span>
            </label>
          </li>
        </ul>

        <div class="dropdown-bottom">
          <button class="btn-secondary btn"><span class="btn-text">Изменить</span></button>
        </div>
      </form>
    </div>

    <a href="#" class="top-panel-compare btn-circle icon-compare">
      <span class="top-panel-compare__counter">2</span>
    </a>

    {% if online == "true" %}
      <div class="top-panel-user dropdown">
        <div class="top-panel-user__control dropdown-toggle icon-arrow-down">
          <div class="top-panel-user__media">
            <img src="img/example/avatar-03.jpg" alt="">
          </div>
        </div>
        <div class="top-panel-user__menu dropdown-menu">
          <ul class="personal-area-menu list-unstyled">
            <li class="personal-area-menu__item icon-arrow-right">
              <a href="#" class="personal-area-menu__link icon-orders">Заказы</a>
            </li>
            <li class="personal-area-menu__item icon-arrow-right">
              <a href="#" class="personal-area-menu__link icon-location">Мероприятия</a>
            </li>
            <li class="personal-area-menu__item icon-arrow-right">
              <a href="#" class="personal-area-menu__link icon-settings">Настройки</a>
            </li>
            <li class="personal-area-menu__item icon-arrow-right">
              <a href="#" class="personal-area-menu__link icon-support">Поддержка</a>
            </li>
          </ul>
          <a href="#" class="personal-area-out">Выйти</a>
        </div>
      </div>
    {% else %}
      <div class="btn btn-bright js__login">
        <span class="btn-text">Войти</span>
      </div>
    {% endif %}
  </div>
</nav>
<!-- END: desktop component -->
