@import "core/variables";
@import "core/mixin";

@import "desktop-blocks/dropdown";
@import "desktop-blocks/result-list";
@import "desktop-blocks/tag-list";
@import "desktop-blocks/link-offer";
@import "desktop-blocks/card";
@import "desktop-blocks/top-panel";
@import "desktop-blocks/nav-section";
@import "desktop-blocks/main-info";
@import "desktop-blocks/nav-direction";
@import "desktop-blocks/entertainment-panel";
@import "desktop-blocks/search-area";
@import "desktop-blocks/modal";
@import "desktop-blocks/popular-section";
@import "desktop-blocks/novelty";
//@import "desktop-blocks/steps";
@import "desktop-blocks/subscription";
@import "desktop-blocks/instagram";
@import "desktop-blocks/footer";
@import "desktop-blocks/mini-card";
@import "desktop-blocks/search-form";
@import "desktop-blocks/steps";

@import "mobile-blocks/menu";
@import "mobile-blocks/header";

/* BEGIN: catalog */
@import "desktop-blocks/catalog";
@import "desktop-blocks/sticker";
@import "desktop-blocks/filter-panel";
@import "desktop-blocks/pagination";
@import "desktop-blocks/snippet";
/* END */

@import "desktop-blocks/personal-area";

.personal-area-column__wrap {
  display: flex;

  .personal-area-column:not(:last-of-type) {
    margin-right: 30px;
  }
}

.personal-area-column {
  max-width: 272px;
}

.personal-area__field-short {
  margin-left: -9px;
  margin-right: -9px;
  display: flex;
  align-items: center;

  .form-control {
    margin-left: 9px;
    margin-right: 9px;
    max-width: 120px;
  }
}

.personal-area-field__short {
  width: 120px;
  padding-left: 15px;
  padding-right: 15px;
}

.personal-area-download {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    width: 174px;
    height: 116px;
    margin-right: 30px;
    background: $grey url(../img/ico.svg) no-repeat center;
    background-size: 70px 70px;
    border-radius: 15px;
    content: '';
  }

  &:hover .as-link {
    color: inherit;
  }
}

.header .search-form__wrap {
  display: none;
}

.modal-add-event__holder {
  padding: 30px;
  overflow: hidden;
  background: #E3E5EC;
  border-radius: 15px;
}

.modal-add-event__container {
  display: flex;
}

.modal-add-event__title {
  margin-bottom: 10px;
}

.modal-add-event__container {
  display: flex;
}

.modal-add-event__item:not(:last-child) {
  margin-bottom: 15px;
}

@media (min-width: 1200px) {
  .menu,
  .header {
    display: none;
  }
}
