@import "core/variables";
@import "core/mixin";
@import "vendors/bootstrap";
@import "vendors/slick";
@import "core/fonts";
@import "core/typography";
@import "core/core";
@import "core/btn";
@import "core/forms";
@import "core/icons";

@import "components/result-list";
@import "components/tag-list";
@import "components/link-offer";
@import "components/card";
@import "components/slick-arrow";
@import "components/subscription";

@import "blocks/top-panel";
@import "blocks/nav-section";
@import "blocks/main-info";
@import "blocks/nav-direction";
@import "blocks/entertainment-panel";
@import "blocks/search-area";
@import "blocks/modal";
@import "blocks/popular-section";
@import "blocks/novelty";
@import "blocks/steps";
@import "blocks/instagram";
@import "blocks/footer";

.lead {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.main-content {
  margin-bottom: 15px;
}
