.main-offers {
  text-align: center;
}

.main-offers__title {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ff6709;
  color: #fff;
  font-weight: bold;
  display: block;
}

.main-offers__list a {
  display: block;
}

@media (min-width: 568px) {
  .main-offers__title {
    font-size: 34px;
  }

  .main-offers img {
    width: auto !important;
    height: auto !important;
    border-style: none;
    display: block;
  }
}

@media (max-width: 567px) {
  .main-offers__list .col-sm-4:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
