.top-slider {
  position: relative;
  color: #212121;
  font-weight: 700;

  .background {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 80vh;
    min-height: 550px;
    position: relative;
    background-size: cover;

    .slide-info {
      margin: 0;
      height: auto;
      width: 40%;
      max-height: 350px;

      &.center, &.center-side {
        text-align: center;
      }

      &.left, &.left-side {
        text-align: left;
      }

      &.right, &.right-side {
        text-align: right;
      }

      &.right .slide-btn-more, &.right-side .slide-btn-more {
        left: initial;
        right: 0;
      }

      .top-slider-price {
        margin: 0;
        line-height: 1;
        font-size: 36px;
      }

      h2 {
        font-weight: 400;
        margin-bottom: 10px;

        .red-four {
          color: #cc3327;
          border: 1px solid #cc3327;
          padding: 2px 7px;
          border-radius: 3px;
          line-height: 1;
          display: inline-block;
          font-size: 36px;
          position: relative;
          bottom: 5px;
          font-weight: 500;
        }

        .orange-three {
          color: #ff6700;
          border: 2px solid #ff6700;
          padding: 2px 11px;
          border-radius: 6px;
          line-height: 1;
          display: inline-block;
          font-size: 40px;
          position: relative;
          bottom: 5px;
          font-weight: 500;
        }

        .top-sub {
          display: block;
          font-size: 16px;
          line-height: 1;
        }
      }

      h3 {
        font-weight: 600;
        margin-bottom: 15px;
        line-height: normal;
      }

      .orange {
        color: #ff6700;
        font-weight: 700;
      }

      .slide-btn-more {
        bottom: 0;
      }

      h2, h3, p {
        color: inherit;
      }

      .subtitle {
        font-size: 30px;
      }
    }

    > a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 0;
    border: 0;
    background-color: transparent;
    width: 16px;
    height: 30px;
    text-indent: -9999px;
    z-index: 5;

    &:active,
    &:focus,
    &:hover {
      outline: none;
    }
  }

  .slick-prev {
    left: 1%;
    background-position: 0 50%;
  }

  .slick-next {
    right: 1%;
    background-position: 100% 50%;
    background-image: url(/local/templates/main/images/old-img/icon-slide-nav1.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 100%;
    cursor: pointer;
  }

  .slick-prev {
    background-image: url(/local/templates/main/images/old-img/icon-slide-nav1.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 100%;
    cursor: pointer;
  }

  .slick-dots {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: 0;

    @media (max-width: 1100px) {
      bottom: 10px;
      display: none !important;
    }

    li {
      margin: 0 5px;
      display: inline-block;

      button {
        padding: 0;
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid transparent;
        text-indent: -9999px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%
      }
    }

    li.slick-active button {
      background: #ffffff;
      border-color: #f5f5f7
    }
  }
}

.slick-slide {
  outline: none !important;
}

.top-slider__slide {
  position: relative;

  img {
    @media (max-width: 1100px) {
      right: 0;
      width: 100%;
    }
  }

}

.slide-info {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 250px;
  width: 33%;
  margin: auto 20%;
  z-index: 1;

  @media (max-width: 1100px) {
    height: 100%;
    width: 100%;
    padding: 0;
    text-align: center;
    margin-left: initial;
    margin-right: initial;
    margin-bottom: initial;
  }

  h2 {
    margin-bottom: 20px;
    font-size: 52px;
    font-weight: 100;
    line-height: normal;
    margin-top: 0;
    color: #212121;
    @media (max-width: 1100px) {
      font-size: 26px;
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
      font-weight: 600;
    }
  }

  h3 {
    color: #212121;
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 25px;
    padding-left: 3px;
  }

  p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 21px;
    color: #3c3c3c;
    padding-left: 3px;
    @media (max-width: 1100px) {
      margin-bottom: 0;
      margin-top: 0;
      display: block;
      height: 48px;
      overflow: hidden;
    }
  }

  p.top-slider-old-price {
    text-decoration: line-through;
    margin: 0;
    @media (max-width: 1100px) {
      display: none;
    }
  }

  p.top-slider-price {
    font-size: 40px;
    margin-top: 40px;
    @media (max-width: 1100px) {
      display: none;
    }

    .small {
      font-size: 50%;
    }
  }
}

.slide-info.white {
  color: #fff;

  h2 {
    color: #fff;
  }

  h3 {
    color: #fff;
  }

  p {
    color: #fff;
  }
}

.slide-info.darck-rose {
  color: #990b40;

  h2 {
    color: #990b40;
  }

  h3 {
    color: #990b40;
  }

  p {
    color: #990b40;
  }
}

.slide-btn-more {
  display: inline-block;
  width: 220px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  position: absolute;
  bottom: -60px;
  text-align: center;
  background-color: #ff6700;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  left: 3px;
  @media (max-width: 1100px) {
    width: 235px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    bottom: 75px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.slide-btn-more:hover {
  color: #fff;
  background-color: #ff6700;
  text-decoration: none;
}

.slide-info.white {
  .slide-btn-more {
    background-color: #fff;
    color: #757575;

    &:hover {
      background-color: #eee;
    }
  }
}

.slide-info.red {
  .slide-btn-more {
    background-color: #e53f4d;
    color: #fff;

    &:hover {
      background-color: #e53f4d;
    }
  }
}

@media (min-width: 568px) {
  .top-slider {
    max-height: 80vh;
    overflow: hidden;
    margin-bottom: 60px;
  }
}

@media (min-width: 1100px) {
  .top-slider .laptop-hidden {
    display: none;
  }
}

@media (max-width: 567px) {
  .top-slider {
    margin-bottom: 45px;
  }
}

@media (max-width: 425px) {
  .top-slider .mobile-hidden {
    display: none;
  }
}

@media (max-width: 768px) {
  .top-slider .background {
    height: auto;
    min-height: 70vh;
  }
}

@media (max-width: 1100px) {
  .top-slider .background .slide-info h2 .red-four {
    padding: 2px 4px;
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .top-slider .background .slide-info h2 .orange-three {
    padding: 2px 7px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .top-slider .background .slide-info {
    &.center, &.center-side, &.left, &.left-side, &.right, &.right-side {
      text-align: center;
    }

    top: 50% !important;
    left: 0 !important;
    padding: 0 20px;
    width: 100%;

    p {
      height: auto;
    }

    .slide-btn-more {
      position: static;
      margin-top: 25px;
      display: inline-block;
      width: 210px;
    }
  }
}

@media (max-width: 768px) {
  .top-slider .background > a {
    position: static;
  }
}

@media (max-width: 1100px) {
  .top-slider {
    .background .slide-info .subtitle {
      font-size: 22px;
    }

    .slick-prev {
      left: 1%;
    }

    .slick-next {
      right: 1%;
    }
  }
}
