{% extends "layout/layout.twig" %}
{% set title = "Личный кабинет вендора - Fan2Day" %}
{% block topPanel %}
  {% set online = "true" %}
  {% include 'desktop-table/top-panel.twig' %}
{% endblock %}

{% block content %}
  <div class="personal-area container">
    <div class="row">
      <!-- BEGIN personal-area-aside -->
      {% include 'partials/personal-area-aside.twig' %}
      <!-- END personal-area-aside -->

      <div class="col-xl-10 col-md-9">
        <h1 class="personal-area-title">Добавление мероприятия</h1>

        <div class="personal-area-holder">
          <div class="col-inner-1">
            <h2>О мероприятии</h2>

            <div class="personal-area__field-group form-group">
              <label class="form-label" for="field-01">Название мероприятия</label>
              <input type="text" id="field-01" class="form-control hide-placeholder" placeholder="Напишите название">
            </div>

            <div class="mb-4 form-group">
              <label class="form-label" for="field-02">Описание мероприятия</label>
              <textarea id="field-02" class="form-control hide-placeholder" placeholder="Кратко опишите мероприятие"></textarea>
              <div class="form-tip">не более 200 символов без пробелов</div>
            </div>

            <div class="personal-area-download personal-area-gap">
              <input type="file" class="personal-area-avatar__field js__multi-upload" multiple accept=".svg, .jpeg, .jpg, .png">
              <div>
                <div class="personal-area-download__text"><span class="as-link">Загрузить фотографии</span> не более 20 фото</div>
                <div class="personal-area-download__text">фото должны быть не более 10 Mb, в формате, PNG, JPEG</div>
              </div>
            </div>

            <h2>Бренд мероприятия</h2>

            <div class="personal-area-column personal-area-gap">
              <select>
                <option>Выбрать бренд</option>
                <option>Fun2Day</option>
                <option>fun2day</option>
                <option>fan2day</option>
                <option>funToDay</option>
              </select>
            </div>

            <h2>Детальная информация о мероприятии</h2>

            <div class="mb-4">
              <label class="form-label">Укажите длительность мероприятия</label>
              <div class="personal-area__field-short">
                <input type="text" class="form-control hide-placeholder" placeholder="Дней">
                <span>-</span>
                <input type="text" class="form-control hide-placeholder" placeholder="Часов">
                <span>-</span>
                <input type="text" class="form-control hide-placeholder" placeholder="Минут">
              </div>
            </div>

            <div class="mb-4">
              <label class="form-label">Укажите максимальное количество человек на мероприятии</label>
              <div class="personal-area__field-short">
                <input type="text" class="form-control hide-placeholder" placeholder="От">
                <span>-</span>
                <input type="text" class="form-control hide-placeholder" placeholder="До">
              </div>
            </div>

            <div class="personal-area-column mb-4">
              <select>
                <option>Возраст</option>
                <option>До 7</option>
                <option>До 18</option>
                <option>с 18 до 65</option>
                <option>от 65</option>
                <option>от 100</option>
              </select>
            </div>

            <div class="personal-area-column__wrap mb-4">
              <div class="personal-area-column">
                <label class="form-label" for="field-03">Укажите формат мероприятия</label>
                <select id="field-03">
                  <option>Формат мероприятия</option>
                  <option>Детский</option>
                  <option>Подростковый</option>
                  <option>Мужской</option>
                  <option>Женский</option>
                  <option>Древний</option>
                </select>
              </div>

              <div class="personal-area-column">
                <label class="form-label" for="field-04">Укажите тип мероприятия</label>
                <select id="field-04">
                  <option>Тип мероприятия</option>
                  <option>Детский</option>
                  <option>Подростковый</option>
                  <option>Мужской</option>
                  <option>Женский</option>
                  <option>Древний</option>
                </select>
              </div>
            </div>

            <div class="personal-area-gap form-group">
              <label class="form-label" for="field-05">Опишите детали и особенности мероприятия</label>
              <textarea id="field-05" class="form-control hide-placeholder" placeholder="Описание деталей"></textarea>
            </div>

            <h2>Детали оплаты мероприятия</h2>

            <div class="personal-area-column mb-4">
              <label class="form-label" for="field-06">Укажите форму оплаты</label>
              <select id="field-06">
                <option>За человека</option>
                <option>За мероприятие</option>
              </select>
            </div>

            <div class="container-fluid">
              <label class="form-label">Установите сумму и валюту для оплаты мероприятия</label>

              <div>
                <div class="row mb-3 align-items-center">
                  <div class="personal-area-field__short">
                    <input type="text" class="form-control hide-placeholder" placeholder="1 000 ₽">
                  </div>

                  <div class="personal-area-column col-12">
                    <select>
                      <option>Российский рубль</option>
                      <option>Доллар США</option>
                      <option>ЕВРО</option>
                      <option>Йена</option>
                      <option>Юань</option>
                      <option>Фунт Стерлинга</option>
                    </select>
                  </div>

                  <div class="personal-area-column col-12">
                    <select>
                      <option>Стандартный билет</option>
                      <option>Льготный</option>
                    </select>
                  </div>

                  <div class=""><button class="btn">Удалить цену</button></div>
                </div>
              </div>

              <div class="personal-area__add-address icon-plus as-link">Добавить цену</div>
            </div>
          </div>

          <div class="personal-area__control">
            <div class="row justify-content-center">
              <div class="personal-area__control-box">
                <button class="btn-primary btn"><span class="btn-text">Создать бренд</span></button>
              </div>
              <div class="personal-area__control-box align-self-center">
                <button class="personal-area__control-reset btn">Удалить бренд</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include 'desktop-table/footer.twig' %}
{% endblock %}

{% block modal %}
  {% include 'desktop-table/modal.twig' %}
{% endblock %}

{% block search %}
  {% include 'desktop-table/search-area.twig' %}
{% endblock %}

{% block entertainment %}
  {% include 'desktop-table/entertainment.twig' %}
{% endblock %}
