.top-panel {
  width: 100%;
  background: #E3E5EC;
  box-shadow: 0 8px 15px rgba(95, 105, 142, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.top-panel-holder {
  display: flex;
  height: 70px;
  align-items: center;
}

.top-panel-all {
  flex-shrink: 0;

  &::before {
    margin-right: 5px;
    font-size: 20px;
    position: relative;
    z-index: 2;
  }
}

.top-panel-search {
  flex-shrink: 0;
}

.top-panel-nav {
  margin-right: 18px;
  color: $black;
  display: flex;
  align-items: center;
}

.top-panel-nav__item {
  margin-right: 24px;
  white-space: nowrap;

  &:nth-child(4) .top-panel-nav__link {
    width: 50px;
    height: 50px;
    text-indent: -100px;
    overflow: hidden;
    display: block;
    background: url(../img/logo.svg) no-repeat center;
    background-size: contain;

    &::after {
      display: none;
    }
  }
}

.top-panel-nav__link {
  color: inherit;
}

.top-panel-currency {
  margin-left: 20px;
  margin-right: 37px;
}

.top-panel-compare {
  flex-shrink: 0;
}

.top-panel-compare__counter {
  text-align: center;
  width: 18px;
  height: 18px;
  position: absolute;
  top: -6px;
  right: -5px;
  line-height: 1;
  padding-top: 2px;
  background-color: #ba1f1f;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  z-index: 2;

  &:empty {
    display: none;
  }
}

.top-panel-user__media {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid $black;
  background: url(../img/ico.svg) no-repeat center $grey;
  background-size: contain;
  flex-basis: 50px;
}

.top-panel-user__menu {
  right: 0;
  left: auto;

  &::before {
    width: 100%;
    height: 6px;
    top: -6px;
    left: 0;
    position: absolute;
    background-color: inherit;
    content: '';
  }
}

@media (min-width: 1400px) {
  .top-panel-all {
    width: 203px;
    margin-right: 30px;
    padding: 4px 10px 4px 23px;
  }
  .top-panel-search {
    margin-right: 30px;
  }
  .top-panel-nav__item:nth-child(4) {
    margin-right: 80px;
    margin-left: 80px;
  }
  .top-panel-compare {
    margin-right: 30px;
  }
}

@media (max-width: 1199px) {
  .top-panel-logo {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
  }

  .top-panel {
    display: none;
  }
}


@media (min-width: 1200px) and (max-width: 1399px) {
  .top-panel-all {
    width: 180px;
    margin-right: 20px;
    padding: 4px 10px;
    font-size: 15px;
  }
  .top-panel-search {
    margin-right: 20px;
  }
  .top-panel-nav__link {
    font-size: 15px;
  }
  .top-panel-compare {
    margin-right: 20px;
  }
}
