.user-auth {
  margin-top: 20px;
  padding-top: 55px;
  padding-bottom: 55px;
  text-align: center;
  background-color: #fff;

  form {
    width: auto;
    display: inline-block;
    margin: 0 auto;
    max-width: 390px;
  }

  h3 {
    font-size: 30px;
    color: #333;
    font-weight: 400;
    //padding: 50px 0 22px;
    margin: 0;
  }

  .newyear {
    padding: 10px 0;

    h4 {
      font-size: 1.8em;
      font-weight: bold;
      color: red;
    }

    p {
      font-size: 1.2em;
    }
  }
}

@media screen and (max-width: 320px) {
  .user-auth form {
    max-width: 320px;
  }
}

.input-group {
  margin: 30px 0;
  display: block !important;

  input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 0 0 5px;
  }
}

.user-auth form {
  padding-top: 10px;

  > div {
    margin: 0 0 30px;
  }

  .buttons-block input[type=submit] {
    background: #ff6700;
    color: #fff;
    border: 1px solid #ff7619;
    height: 42px;
    width: 100%;
    text-transform: uppercase;

    &:active, &:focus {
      outline: 0;
    }
  }

  .foot {
    > div {
      display: inline-block;
      padding: 0 10px;
    }

    a {
      text-decoration: none;
    }
  }
}

.personal-part {
  div.welcome {
    padding: 55px 40px;
    text-align: center;

    h4 {
      font-size: 1.4em;
    }

    a {
      color: $orange;
    }
  }
}