.component-sticker {
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  height: 76px;
  width: 100%;
  @include display-flex(column, center, center);
  display: inline-flex;
  border-radius: 4px;

  @include w-from($screen-xl) {
    margin-bottom: 15px;
  }
  @include w-to($screen-xl) {
    height: 40px;
    max-width: 62px;
    border-radius: 2px;
    margin-bottom: 4px;
  }
  @include w-to($screen-md) {
    margin-right: 20px;
  }

  & span:first-child {
    font-size: 24px;
    line-height: 28px;
    @include w-to($screen-xl) {
      font-size: 18px;
      line-height: 21px;
    }
  }

  & span:last-child {
    font-size: 12px;
    line-height: 120.69%;
    @include w-to($screen-xl) {
      font-size: 9px;
    }
  }

  &.mod-sticker-red {
    background: radial-gradient(60.53% 82.58% at 20% 23.68%, #E40046 0%, #B8043B 100%);
    @include w-to($screen-xl) {
      span:last-of-type {
        display: none;
      }
    }
  }

  &.mod-sticker-yellow {
    background: radial-gradient(80.26% 107.51% at 23.33% 19.74%, #FFCD00 0%, #EB9D06 100%);
  }

  &.mod-sticker-blue {
    background: radial-gradient(80.26% 107.51% at 23.33% 19.74%, #269dff 0%, #3a52eb 100%);

    & span {
      font-size: 16px;
    }
  }

  &.mod-sticker-orange {
    background: radial-gradient(80.26% 107.51% at 23.33% 19.74%, #FF8A00 0%, #FF6700 100%);

    & span {
      font-size: 16px;
      @include w-to($screen-xl) {
        font-size: 10px;
      }
    }
  }

  &.mod-sticker-green {
    background: radial-gradient(80% 80% at 23.33% 20%, #6BBBAE 0%, #43A08A 100%);
    cursor: pointer;

    svg {
      width: 36px;
      height: 37px;
      fill: white;
      @include w-to($screen-xl) {
        width: 18px;
        height: 19px;
      }
    }
  }
}

.mod-sm-sticker {
  position: absolute;
  z-index: 5;
  left: 23px;
  top: 15px;
  display: flex;
  flex-direction: column;
  @include w-to($screen-md) {
    left: initial;
    top: 4px;
  }

  .component-sticker {
    height: 40px;
    width: 62px;
    border-radius: 2px;
    margin-bottom: 9px;
    font-weight: 500;

    & span:first-child {
      font-size: 18px;
      line-height: 21px;
    }

    & span:last-child {
      font-size: 9px;
    }

    &.mod-sticker-red {
      span:last-of-type {
        display: none;
      }
    }

    &.mod-sticker-green {
      svg {
        width: 18px;
        height: 19px;
      }
    }
  }
}
