// The .event-section block is only on the home page
.event-section .main-offers__title:hover {
  color: #ffffff;
}

// The .event-page block is only on the https://mi-shop.com/ru/actions/ page
.event-page {
  margin-bottom: 45px;

  @media (min-width: 768px) {
    padding-top: 30px;
  }
}

// General styles on the blocks
.event-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.event-list__item {
  margin-bottom: 30px;
  display: block;
}

.event-list__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.event-list__top {
  margin-bottom: 15px;
  display: block;
  color: #000;
  transition: color .3s ease;
}

.event-list__media {
  display: block;
  margin-bottom: 25px;

  img {
    display: block;
    margin: auto;
  }
}

.event-list__title {
  font-size: 16px;
  text-decoration: underline;
}

.event-list__text {
  min-height: 36px;
  margin-bottom: 15px;
  display: block;
}

.event-list__date {
  margin-bottom: 15px;
}

.event-list__more {
  margin-top: auto;
  display: block;
  color: #ff6709;

  a {
    color: inherit;
    transition: color .3s ease;

    &:hover {
      color: #000;
    }
  }
}

.event-section__more {
  padding-top: 10px;
  border-top: 1px solid #f2f2f2;
  text-align: right;

  a {
    color: #000;
    transition: color .3s ease;

    &:hover {
      color: #ff6709;
    }
  }
}


@media (max-width: 767px) {
  .event-list__item {
    margin-bottom: 30px;
  }
}
