#add-to-basket.modal-body {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;

  .fancybox-close-small {
    right: 0;
    top: 4px;

    &:hover {
      color: #000;
    }
  }

  .subscribe button {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
    box-shadow: none;
    border: none;
    display: inline-block;
    height: 42px;
    padding: 0 35px;
    background-color: #ff6700;

    &:hover {
      background-color: #ff7619;
    }
  }
}

.map-modal .fancybox-close-small {
  right: 5px;
  top: 5px;
  color: #000;

  svg {
    opacity: 1;
    stroke: #676767;
    transition: stroke .4s;
    width: 40px;
    height: 40px;
  }

  &:hover svg {
    stroke: #ff6700;
  }
}

.map-modal__header,
#add-to-basket .modal-header {
  background-color: #f5f5f5;
  padding: 15px;

  h2, h3 {
    font-size: 18px;
    display: inline-block;
    color: #212121;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 620px;
    margin: 0;
    font-weight: 600;
  }
}

#add-to-basket .modal-content {
  padding: 15px;
  box-shadow: none;
  border: none;

  > div:only-child {
    text-align: center;
  }

  h4 {
    font-size: 20px;
  }

  input[type=radio] {
    display: none;

    + label {
      width: 42px;
      height: 42px;
      display: inline-block;
      cursor: pointer;
      margin-right: 10px;
      margin-bottom: 10px;

      &[data-target=clear], &[data-target=white] {
        border: 1px solid #b0b0b0;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &:checked + label, &[checked=checked] + label {
      border: 1px solid #ff6700;
    }
  }

  .image-wrap {
    text-align: center;

    img {
      max-width: 75%;
      max-height: 218px;
      margin-right: auto;
      margin-left: auto;

      &:not(.default) {
        display: none;
      }
    }
  }

  .version-sum {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;

    .total-price {
      color: #ff6700;

      .old-price {
        color: #757575;
        font-size: smaller;
        text-decoration: line-through;
      }
    }
  }

  .subscribe-address {
    margin-top: 20px;

    input {
      width: 254px;
      height: 43px;
      line-height: 43px;
      padding: 10px;
      color: #b0b0b0;
      border: 1px solid #cecece;

      &:active, &:focus {
        outline: 0;
        border: 1px solid #ff6700;
      }
    }
  }

  .versions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (max-width: 567px) {
    .right-part {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (min-width: 568px) {
    @include clearfix;

    .left-part,
    .right-part {
      float: left;
      width: 50%;
      padding: 15px;
    }

    .right-part {
      padding-right: 0;
    }
  }
}

#add-to-basket .modal-footer {
  padding-left: 0;
  padding-right: 0;
}

#add-to-basket .modal-footer {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #eee;

  .card-recommended {
    max-height: 367px;
    overflow: hidden;
    margin: 0;
    padding: 0 10px;
    background-color: transparent;
  }

  .card-recommended__media {
    height: 140px;
  }

  .card-recommended__title {
    font-size: 15px;
    min-height: 80px;
    font-weight: 400;
  }

  .card-recommended__head {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #000;
  }

  .card-recommended__inner {
    padding-left: 0;
    padding-right: 0;
    min-height: 330px;
    position: relative;
  }

  .card-recommended__arrow {
    height: 30px;
    width: 30px;
  }

  .card-recommended__arrow::before {
    width: 11px;
    height: 11px;
  }

  .card-recommended__prev::before {
    top: 10px;
    left: 12px;
  }

  .card-recommended__prev {
    left: -15px;
  }

  .card-recommended__next {
    right: -15px;
  }

  .slick-disabled {
    display: none;
  }

  .card-recommended__bottom {
    justify-content: space-around;
  }
}

.pickpoint-map {
  width: 100%;

  .fancybox-close-small {
    right: 5px;
    top: 5px;

    &:focus,
    &:hover {
      color: #9E9E9E;
    }
  }
}

@media (min-width: 767px) {
  .card-recommended__head {
    font-size: 24px;
  }
}

@media (max-width: 1099px) {
  #add-to-basket.modal-body {
    width: 95%;
  }
}
