.row::after {
  content: "";
  clear: both;
  display: block;
}

.menu-part {
  padding: 15px;
  position: relative;
  float: left;
  width: 20%;
  background: #fff;
  box-sizing: border-box;
  margin-top: 20px;

  .personal-head {
    //text-align: center;
    img {
      max-width: 120px;
      border-radius: 50%;
    }

    a {
      text-decoration: none;
    }

    .user-group img {
      border-radius: 0;
      display: block;
      margin: 10px auto 5px;
    }
  }

  .personal-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      height: 50px;

      &:not(:last-of-type) {
        border-bottom: 1px solid #eee;
      }

      a {
        line-height: 50px;
        font-size: 14px;
        font-weight: 700;
        color: #757575;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}

.personal-part {
  width: 80%;
  float: right;
  margin-top: 20px;

  > div {
    background-color: #fff;
    padding: 15px;
    box-sizing: border-box;
  }
}

.personal-part {
  > div.order-detail {
    padding: 40px 20px;
  }

  .user-page-overview .user-head {
    text-align: center;
    padding: 35px 0;
  }

  .user-page-entries {
    background-color: transparent;
    padding: 0;

    &::after {
      content: "";
      clear: both;
      display: block;
    }

    > div {
      float: left;
      background-color: #fff;
      width: 48%;
      margin: 0 2% 2% 0;
      box-sizing: border-box;
      height: 200px;
      position: relative;

      &:nth-of-type(2n) {
        margin-right: 0;
        margin-left: 2%;
      }

      &.user-page-entry {
        h3 {
          font-weight: 600;
          text-transform: uppercase;
          color: #b0b0b0;
          font-size: 18px;
          margin: 0;
          line-height: 40px;
          @include w-to($screen-md) {
            font-size: 16px;
          }

          > a {
            font-weight: 600;
            text-transform: uppercase;
            color: #b0b0b0;
            font-size: 18px;
            margin: 0;
            line-height: 40px;
            @include w-to($screen-md) {
              font-size: 16px;
            }
          }
        }

        &::after {
          position: absolute;
          content: '';
          width: 2px;
          height: 100%;
          background-color: #ff6700;
          top: 0;
          left: 0;
          opacity: 0;
          filter: alpha(opacity=0);
        }

        &:hover:after {
          opacity: 1;
          filter: alpha(opacity=100);
        }

        &::before {
          position: absolute;
          content: '';
          left: 60px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          background-image: url(images/my_account_icons.png);
        }

        &.order-entry {
          &::before {
            width: 55px;
            height: 43px;
            background-position: 0 -143px;
          }

          &:hover:before {
            background-position: 0 -98px;
          }
        }

        &.settings-entry {
          &::before {
            width: 48px;
            height: 48px;
            background-position: -48px -48px;
          }

          &:hover:before {
            background-position: -48px 0;
          }
        }

        &.subscribe-entry {
          &::before {
            width: 48px;
            height: 48px;
            background-position: 0 -48px;
          }

          &:hover:before {
            background-position: 0 0;
          }
        }

        &.addresses-entry {
          &::before {
            width: 51px;
            height: 36px;
            background-position: 0 -329px;
          }

          &:hover:before {
            background-position: 0 -291px;
          }
        }

        .user-cell {
          position: relative;
          top: 50%;
          left: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 190px;
          @include w-to($screen-md) {
            width: 150px;
          }
        }

        a {
          color: #b0b0b0;
          text-decoration: none;

          &:hover {
            color: #ff6700;
          }
        }
      }

      ul {
        padding: 0 10px 0 0;
        list-style: none;
      }
    }
  }

  .order-detail {
    .order-body {
      h3 {
        background-color: #b0b0b0;
        color: #fff;
        padding: 10px;
      }

      .cancel-order a {
        display: inline-block;
        padding: 10px 25px;
        text-decoration: none;
        text-transform: uppercase;
      }

      .link-to-pay {
        display: inline-block;
        padding: 10px 25px;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #ff6700;
        color: #fff;

        &:hover {
          background-color: #ff7619;
        }
      }

      .cancel-order {
        text-align: center;
        margin-top: 20px;

        &::after {
          content: "";
          display: block;
          clear: both;
        }

        a {
          color: #757575;
          border: 1px solid #757575;
          float: right;

          &:hover {
            background: #757575;
            color: #fff;
          }
        }
      }
    }

    .info-table {
      display: table;
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 10px;

      .info-row {
        display: table-row;

        .info-cell {
          display: table-cell;
          width: 50%;
        }
      }

      .info-row-head {
        display: table-header-group;
      }
    }

    .order-contain {
      .info-table .info-row .info-cell {
        vertical-align: middle;
        text-align: center;

        &.picture {
          width: 10%;
          padding: 1%;

          img {
            width: 90%;
          }
        }

        &.name {
          width: 35%;
        }

        &.price {
          width: 15%;
        }

        &.quantity {
          width: 10%;
        }

        &.sum {
          width: 15%;
        }

        &.discount-price {
          width: 10%;
        }
      }

      .order-sum {
        &::after {
          content: "";
          display: block;
          clear: both;
        }

        .info-table {
          width: 45%;
          float: right;

          .info-row .info-cell {
            text-align: right;

            &:first-of-type {
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  .bx_my_order_cancel input[type="submit"] {
    padding: 0;
  }
}

.order-list {
  .orders-types ul {
    list-style: none;
    padding: 0;
    margin: 25px 0;

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    li {
      float: left;
      padding: 0 25px;
      line-height: 1;
      font-weight: 500;

      &:first-of-type {
        padding-left: 0;
      }

      a {
        color: #b0b0b0;
        text-decoration: none;

        &.current {
          color: #ff6700;
        }
      }

      + li {
        border-left: 1px solid #eee;
      }
    }
  }

  .orders-table {
    > div {
      border-bottom: 1px solid #eee;
      padding: 15px 8px;

      > div {
        padding-left: 8px;
        padding-right: 8px;
      }

      h4 {
        font-size: 20px;
        margin: 0;
      }
    }

    .order-table-head {
      font-weight: 700;
      background-color: #f2f2f2;
    }
  }
}

.notification-page {
  h3 {
    font-size: 24px;
    font-weight: 700;
  }

  .notification-list {
    &::after {
      content: "";
      clear: both;
      display: block;
    }

    .notification-item {
      float: left;
      width: 47%;
      margin: 10px 3% 10px 0;
      padding: 10px 15px;
      border: 1px solid #212121;
      box-sizing: border-box;
      position: relative;

      &:nth-of-type(2n) {
        float: right;
        margin-right: 0;
        margin-left: 3%;
      }

      .item-pic {
        display: inline-block;
        width: 15%;
        vertical-align: middle;
        padding-right: 15px;
      }

      .item-info {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;

        .item-title a {
          color: #212121;
          text-decoration: none;
        }

        .item-price {
          color: #ff6700;
        }
      }

      .delete {
        position: absolute;
        right: 9px;
        top: 6px;
        color: #ccc;
        cursor: pointer;
      }
    }
  }
}

.account-part {
  .settings-types {
    ul {
      li {
        a:hover, &.current a {
          color: #ff6700;
        }
      }

      list-style: none;
      margin: 0;
      padding: 0;

      &::after {
        content: "";
        display: block;
        clear: both;
      }

      li {
        float: left;
        text-align: center;
        height: 44px;

        a {
          display: block;
          padding: 0 34px;
          font-weight: 700;
          font-size: 18px;
          line-height: 20px;
          height: 20px;
          overflow: hidden;
          white-space: nowrap;
          text-decoration: none;
        }

        .white-corner {
          width: 23px;
          height: 12px;
          margin-top: 12px;
          margin-bottom: -2px;
          display: none;
          background: url(/local/templates/main/images/old-img/white-corner.png) no-repeat;
        }

        &.current .white-corner {
          display: inline-block;
        }
      }
    }

    position: relative;
    z-index: 2;
    margin-bottom: -1px;
    margin-top: 20px;
  }

  width: 70%;
  float: right;
  margin-top: 20px;

  .settings-body {
    background-color: #fff;
    border-radius: 10px;
    padding: 55px 0;
    position: relative;

    form {
      text-align: center;
    }

    .image-login {
      position: absolute;
      top: -65px;
      right: 35px;

      &::after {
        content: "";
        display: block;
        clear: both;
      }

      .label-login {
        float: left;
        padding-top: 25px;
        padding-right: 5px;

        span {
          display: block;
        }

        .file_upload {
          display: block;
          position: relative;
          cursor: pointer;

          .button {
            display: block;
            color: #ff6700;
            cursor: pointer;
          }

          .personal-image {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 2;
            height: 100%;
            cursor: pointer;
          }
        }
      }

      .label-image {
        max-width: 120px;
        float: left;

        span {
          display: block;
        }

        img {
          width: auto !important;
          height: auto !important;
          border-radius: 50%;
        }
      }
    }

    .profile-block {
      display: none;

      &.shown {
        display: block;
      }

      &::after {
        content: "";
        display: block;
        clear: both;
      }

      &.reg-info label {
        padding-left: 30px;

        &::before {
          position: absolute;
          width: 23px;
          height: 27px;
          content: "";
          background-image: url(images/device-icos.png);
          background-repeat: no-repeat;
          background-position-y: -8px;
          left: 0;
          top: 0;
        }

        &[for=EMAIL]:before {
          background-position-x: -50px;
        }

        &[for=LOGIN]:before {
          background-position-x: -130px;
        }

        &[for=NEW_PASSWORD]:before,
        &[for=NEW_PASSWORD_CONFIRM]:before {
          background-position-x: -9px;
        }
      }
    }

    .table-part {
      text-align: left;

      label {
        position: relative;
      }

      @media (min-width: 576px) {
        display: inline-block;
      }
    }
  }
}

/*дисконтный код*/
.personal-part .user-page-entries .user-page-entry.sell-entry {
  &:before {
    background-image: url("/local/templates/main/images/icons/discont.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 58px;
    height: 58px;
  }

  &:hover {
    &:before {
      background-image: url("/local/templates/main/images/icons/discont-orange.svg");
    }
  }

  .personal-discount {
    &__title {
      font-size: 18px;
      line-height: 120%;
      margin-bottom: 19px;
      @include w-to($screen-md) {
        font-size: 16px;
      }

      a {
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 19px;
        @include w-to($screen-md) {
          font-size: 16px;
        }
      }
    }

    &__code {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: $black;
      margin-bottom: 22px;
      span:first-of-type {
        display: block;
        margin-bottom: 3px;
      }
    }

    &__text, &__time {
      font-size: 14px;
      line-height: 100%;
    }

    &__text {
      color: $grey;
      margin-bottom: 14px;
    }

    &__time {
      color: $black;

      span {
        font-size: 14px;
        line-height: 100%;
      }

      span:last-child {
        margin-left: 19px;
      }
    }
  }
}

@media (min-width: 576px) {
  .account-part .settings-body {
    border: 1px solid #eee;
  }
}

.bonus-card {
  color: #000;
  padding-left: 0;
  padding-right: 0;

  table {
    width: 100%;

    td {
      width: 50%;
      padding: 5px 10px;
    }

    th {
      text-align: center;
    }
  }

  .row .col-xs-12 {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
  }

  p,
  .coupon-aaron {
    font-size: 1.2em;
  }

  p b {
    color: blue;
  }

  .coupon-aaron {
    display: block;
    margin: 0 auto;
    max-width: 600px;

    b {
      display: block;
    }
  }

  .attention,
  .loyalty {
    text-align: left;
    color: #000;

    b {
      color: red;
    }
  }

  .loyalty {
    padding-top: 35px;
  }

  .cashback {
    color: red;
    font-weight: bold;
  }

  h2 {
    text-align: center;
  }

  form {
    .card {
      text-align: center;
      margin: 20px auto 30px;
      max-width: 390px;
      padding: 35px 20px;
      background: #ff6700;
      color: #fff;
      border-radius: 5px;

      a {
        color: #eeeeee;
      }

      b {
        color: #ffffff;
      }
    }

    .card-number {
      font-size: 1.2em;
      font-weight: 500;
    }

    .buttons-block {
      text-align: center;
      margin-top: 10px;

      small {
        margin-top: 20px;
        display: inline-block;
      }
    }
  }
}

@media (min-width: 768px) {
  .order-list .orders-table > div {
    display: flex;

    > div {
      flex: 1 1 14%;
      max-width: 14%;

      &:nth-of-type(4) {
        flex: 1 1 16%;
        max-width: 16%;
      }

      &:nth-of-type(5) {
        flex: 1 1 10%;
        max-width: 10%;
      }

      &:last-of-type {
        flex: 1 1 32%;
        max-width: 32%;
      }

      span {
        display: none;
      }
    }
  }
}

@media (max-width: 1099px) {
  .menu-part {
    float: none;
    width: 100%;
    margin: 20px auto;
  }
  .personal-part {
    width: 100%;
    margin: 20px auto;
    float: none;
  }
  .personal-part .user-page-entries > div {
    float: none;
    width: 100%;
    margin: 2% 0;
  }

  .personal-part .user-page-entries > div:nth-of-type(2n) {
    margin: 2% auto;
  }

  .personal-part .user-page-entries > div.user-page-entry:before {
    left: 19%;
  }

  .personal-part .order-detail .order-contain {
    .info-table.order-content {
      display: block;

      .info-row {
        display: block;
        margin: 5px 0;
        padding: 10px 0;
        border-bottom: 1px solid #eee;

        &.head-row {
          display: none;
        }

        .info-cell {
          display: block;

          &.name, &.picture {
            width: 100%;
          }

          &.name img, &.picture img {
            width: 60px;
          }

          &.price, &.quantity, &.sum {
            display: inline-block;
            width: auto;
            padding: 5px;
          }

          &.quantity:before {
            content: "x ";
          }

          &.sum:before {
            content: "= ";
          }
        }
      }
    }

    .order-sum .info-table {
      width: 100%;

      .info-row .info-cell {
        text-align: left;
      }
    }

    .cancel-order a {
      float: none;
    }
  }

  .order-list .orders-types ul li {
    padding: 10px 0;
    float: none;

    + li {
      border-left: none;
    }
  }

  .order-list .orders-table > div > div {
    display: block;

    &:not(:first-of-type) {
      text-align: left;
    }
  }

  .order-list .orders-table {
    > div {
      > div span {
        margin-right: 10px;
        display: inline-block;
      }

      h4 {
        margin: 0 0 5px;
      }
    }

    .order-table-head {
      display: none;
    }
  }

  .account-part {
    width: 95%;
    margin: 20px auto;
    float: none;
  }

  .account-part {
    .settings-types ul li {
      float: none;

      &.current .white-corner {
        display: none;
      }
    }

    .settings-body {
      padding: 30px 5px;
    }
  }

  .account-part .settings-body .image-login {
    position: static;

    .label-image, .label-login {
      float: none;
    }
  }

}

@media (min-width: 576px) and (max-width: 1099px) {
  .account-part .settings-body .table-part input {
    width: 210px;
  }
}

@media (max-width: 767px) {
  .order-list .orders-table > div {
    display: block;
  }

  .notification-page .notification-list .notification-item {
    width: 100%;
  }
}
