.footer {
  a:focus, a {
    outline: none;
    &:hover {
      @include w-from($screen-md) {
        color: $orange;
        transition: color ease 0.4s;
      }
    }
  }
  ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;

    li {
      height: auto;
    }
  }

  &__menu {
    background-color: $black;
    padding-top: 25px;
    padding-bottom: 20px;
    @include w-to($screen-md) {
      padding-top: 0;
      padding-bottom: 0;
    }

    .container {
      @include w-to($screen-md) {
        overflow-x: hidden;
        padding: 0;
        .footer__list-col  {
          padding-left: 24px;
          padding-right: 24px;
        }
      }
    }

    a {
      color: $white;
      font-size: 14px;
      line-height: 16px;
      display: inline-block;
    }
  }

  &__lists, &__social {

    svg {
      fill: #B0B0B0;
      height: 33px;
      width: 20px;
      @include w-to($screen-md) {
        height: 17px;
      }
    }
  }

  &__lists {
    @include w-to($screen-md) {
      & > li {
        border-bottom: 1px solid #333339;

        &.footer__titles {
          border-bottom: none;
        }

        a {
          width: 100%;
        }
      }
    }

    & a {
      line-height: 32px;
      @include w-to($screen-md) {
        line-height: 35px;
      }
    }

    & .footer__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      @include w-to($screen-md) {
        line-height: 53px;
      }
    }
  }

  & &__collapse {
    @include w-to($screen-md) {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -20%;
        height: 1px;
        background-color: #333339;
        width: 200%;
      }
    }

    &.collapsing {
      transition: none;
    }

    &.collapse:not(.show) {
      display: block;
    }

    @include w-to($screen-md) {
      display: none;
      &.show {
        display: block;
      }
      &.collapse:not(.show) {
        display: none;
      }
    }
  }

  & &__social {
    li {
      width: 34px;
      @include w-to($screen-md) {
        width: 30px;
      }
    }
  }

  &__list-col {
    & .footer__title {
      margin-bottom: 18px;
      @include w-from($screen-md) {
        pointer-events: none;
        &:hover {
          color: $white;
        }
      }
      @include w-to($screen-md) {
        margin-bottom: 0;
        position: relative;
        .footer__arrow {
          fill: white;
          position: absolute;
          right: 0;
          top: 0;
          transform: rotate(90deg);

          svg {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }

  &__titles {
   @include w-to($screen-md) {
      & .footer__title {
        border-bottom: 1px solid #333339;
      }
    }
  }

  .container &__aside {
    padding-top: 2px;
    @include w-to($screen-md) {
      padding: 16px 16px 0;
    }
    span {
      font-size: 12px;
      line-height: 14px;
      color: $grey-2;
    }

    li {
      a {
        display: block;
      }
      &:first-child {
        margin-bottom: 17px;
      }
    }

    .footer__social li:first-child {
      @include w-to($screen-md) {
        margin-bottom: 4px;
      }
    }

    &_second-col {
      span {
        margin-top: 5px;
      }
      * {
        display: block;
        @include w-to($screen-md) {
          padding-left: 16px;
        }
      }
    }
  }

  &__aside li &__num {
    font-size: 18px;
    line-height: 21px;
  }

  &__aside &__mail {
    margin-top: 5px;
    @include w-from($screen-md) {
      margin-bottom: 22px;
    }
    @include w-to($screen-md) {
      font-size: 12px;
    }
  }

  .mod-gray {
    color: $grey;
    pointer-events: none;
  }

  &__footnote {
    @include w-to($screen-md) {
      padding-top: 11px;
      padding-bottom: 5px;
    }
    .row {
      min-height: 68px;
      height: 68px;
    }
    span {
      font-size: 12px;
      line-height: 14px;
      color: $grey;
      @include w-to($screen-md) {
        font-size: 10px;

      }
    }

    .footer__text {
      @include w-to($screen-md) {
        padding-top: 17px;
      }
      span:last-child {
        @include w-to($screen-md) {
          display: inline-block;
        }
      }
    }
  }

  ul.footer__brands {
    margin-bottom: 0;
    @include w-to($screen-md) {
      margin-bottom: 14px;
    }

    img {
      height: 24px;
      @include w-to($screen-md) {
        height: 18px;
      }
    }
  }

  &__hitbuy {
    width: 71px;
    @include w-to($screen-md) {
      width: 56px;
    }
    @include w-to(768px) {
      min-width: 56px;
    }
  }

  &__mixtech {
    width: 75px;
    @include w-to($screen-md) {
      width: 59px;
    }
    @include w-to(768px) {
      min-width: 59px;
    }
  }

  &__goldenlink {
    width: 89px;
    margin-bottom: -8px;
    @include w-to($screen-md) {
      width: 70px;
    }
    @include w-to(768px) {
      min-width: 70px;
    }
  }

  &__newworld {
    width: 113px;
    margin-bottom: -17px;
    @include w-to($screen-md) {
      width: 89px;
    }
    @include w-to(768px) {
      min-width: 89px;
    }
  }
}