/*Блокировка и оверлей боди*/
.body-lock {
  overflow: hidden;

  .dropdown-menu {
    margin-top: 0;

    &[aria-labelledby="cities-list"] {
      margin-top: 2px;
    }
  }

  @include w-from($screen-md) {
    padding-right: 17px;
    &.bx-mac {
      padding-right: 15px;
    }
    .dropdown-menu {
      box-shadow: 20vh 300vh 0 300vh rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.3);

      &[aria-labelledby="countries-list"] {
        left: -8px;
      }
    }
  }
  @include w-to($screen-md) {
    @include delScrollbar;
    padding-right: 0;
    .header {
      height: 100%;
      min-height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .dropdown-menu, .toggle-menu[aria-labelledby="catalog-list"] {
      box-shadow: 0 300vh 0 300vh rgb(255, 255, 255), 0 5px 5px rgb(255, 255, 255);
      border: none;

      .header__list-item a.city {
        font-size: 14px;
      }
    }
    #header-mobile .header-menu .toggle-menu[aria-labelledby="catalog-list"] {
      padding: 0;

      & li.header__list-item.nav-item {
        border: none;
        min-height: auto;
        height: auto;
      }
    }
  }
}

.header {
  background-color: $black;
  position: relative;
  z-index: 101;

  a:focus {
    outline: none;
  }

  form {
    input::-ms-clear {
      display: none;
    }
  }

  @include w-from($screen-md) {
    height: 120px;
  }
  @include w-to($screen-md) {
    background-color: white;
    &:before {
      content: '';
      height: 46px;
      background-color: $black;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    nav.navbar {
      z-index: 5;
    }
  }

  .container {
    @include w-from($screen-md) {
      &:after {
        width: 100%;
        content: '';
        background-color: $white;
        height: 74px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  &__logo {
    @include display-flex(row, center, center);
    width: 36px;
    height: 35px;
    background-color: $orange;
    border-radius: 2px;
    z-index: 1;

    svg {
      width: 20px;
      height: 13px;
      fill: $white;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      height: 46px;
      align-items: center;
    }

    .header__link {
      align-items: center;
    }
  }

  #header-mobile {
    &.collapsing {
      transition: none;
    }

    @include w-to($screen-md) {
      margin-left: -16px;
      margin-right: -16px;
      margin-bottom: -8px;
      background-color: $white;
      .header__list-item a {
        line-height: 240%;
        padding-top: 0;
        padding-bottom: 0;
      }
      a {
        color: $black;
      }
      .nav-item, .dropdown-back {
        border-bottom: 1px solid $grey-4;
        height: 50px;
        min-height: 50px;
        padding-left: 23px;
        padding-right: 17px;
        display: flex;

        & a {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
        }
      }
      .nav-item.mod-sm-item {
        @include w-to($screen-md) {
          border: none;
          min-height: 45px;
          height: 45px;
        }
      }
      .dropdown-back {
        padding-left: 23px;
      }
      .header__link svg {
        fill: $grey;
      }
      & > ul.navbar-nav {
        padding-top: 6px;
      }
    }
    @include w-from($screen-md) {
      & > ul.navbar-nav {
        width: 100%;
      }
    }
  }

  &__sticky {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include w-to($screen-md) {
      width: 0;
    }
  }

  &__hamburger {
    border: none;
    padding: 0;
    margin-right: 1.1rem;

    &:focus {
      outline: none;
    }
  }
  .header__list.dropdown-menu.show[aria-labelledby="help-list"], .header__list.dropdown-menu.show[aria-labelledby="company-list"], .header__list.dropdown-menu.show[aria-labelledby="countries-list"] {
    @include w-to($screen-md) {
      font-size: 14px !important;
    }
  }

  .navbar-dark .navbar-nav .header__link {
    white-space: nowrap;
    font-size: 14px;
    line-height: 16px;
    color: $white;
    padding-left: 0;
    padding-right: 0;
    @include w-to($screen-md) {
      font-size: 14px;
    }

    svg {
      fill: $white;
    }

    &:hover {
      @include w-from($screen-md) {
        color: $orange;
        transition: color ease 0.4s;

        svg {
          fill: $orange;
          transition: fill ease 0.4s;
        }
      }
    }
  }

  & &__mobile {
    max-width: 127px;
    width: 100%;
    justify-content: space-between;
    z-index: 991;
    @include w-to($screen-md) {

    }

    svg {
      fill: $white;
    }
  }

  &__flags {
    width: 28px;
    height: 27px;
    margin-right: 8px;
  }

  &__arrow {
    width: 10px;
    height: 6px;
  }

  .dropdown-toggle:after {
    content: none;
  }

  #cities-list, a[href="#cities-modal"] {
    svg {
      width: 24px;
      height: 24px;
      min-width: 10px;
      min-height: 10px;
      @include w-to($screen-md) {
        width: 15px;
        height: 17px;
      }
    }
  }

  #countries-list {
    .header__list.dropdown-menu.show {
      margin-top: 0;
    }

    span.d-lg-inline {
      font-size: 12px;
    }
  }

  &__search {
    border: none;

    button {
      background: transparent;
      border: none;
      outline: none;
      top: 7px;

      &:focus {
        outline: none;
      }
    }

    svg {
      width: 25px;
      height: 25px;
    }

    input[type="search"] {
      height: 40px;
    }

    &_mobile {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      display: none;

      .form-group {
        margin-top: 5px;
        margin-bottom: 5px;
        position: relative;
      }

      svg {
        fill: $grey-2;
      }

      .header__search {
        background: transparent;
        position: absolute;
        outline: none;
        left: 2px;
        top: 5px;

        &:focus {
          outline: none;
        }

        svg {
          width: 20px;
          height: 23px;
          position: absolute;
        }
      }

      .header__close {
        right: 9px;
        top: 7px;
        position: absolute;
        @include w-to($screen-md) {
          top: 0;
          right: -4px;
          height: 100%;
          width: 26px;
          display: flex;
          align-items: center;
        }

        svg {
          width: 17px;
          height: 17px;
        }
      }

      input {
        width: 100%;
        height: 36px;
        padding-left: 36px;
        padding-right: 30px;
        border: none;
        border-radius: 2px;
      }

      @include w-from($screen-md) {
        &.collapse.navbar-collapse.d-lg-none {
          display: none !important;
        }
      }
      @include w-to($screen-md) {
        width: 100%;
      }
    }

    &_sticky {
      display: none;
      position: absolute;
      width: 86%;
      height: 40px;
      z-index: 20;
      margin-left: -5px;
      top: 4px;
      right: 7rem;
      margin-top: -1px;
      margin-bottom: 0;
      @include w-to(1200px) {
        width: 84%;
      }

      input {
        height: 40px;
        padding-left: 35px;
        padding-right: 35px;
      }

      button {
        top: 7px;
        background: transparent;
        border: none;
        outline: none;
        svg {
          fill: $grey-2 !important;
        }

        &:focus {
          outline: none;
        }
      }

      &-close {
        top: 0;
        right: 0;

        svg {
          width: 17px;
          height: 17px;
        }
      }
    }
  }

  &__profile {
    @include w-from($screen-md) {
      margin-right: 1.5rem;
    }
    svg {
      width: 22px;
      height: 25px;
      fill: $white;
    }
  }

  &__item-city {
    @include w-from($screen-md) {
      margin-left: 2.2rem;
    }
  }
  &__item-shops {
    @include w-from($screen-md) {
      margin-left: 2.2rem;
    }
  }

  &__basket {
    svg {
      width: 25px;
      height: 30px;
      fill: $white;
    }
  }

  &__help {
    svg {
      width: 15px;
      height: 15px;
    }

    a.header__link {
      font-size: 14px;
    }
  }

  #header-mobile .navbar-nav .nav-item.header__help {

    a:first-of-type {
      font-size: 16px;
      margin-right: 1.5rem;
      @include w-to($screen-md) {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  &__search {
    &_icon {
      width: 25px;
      height: 25px;
    }

    button {
      right: 0.7rem;
      padding: 0;

      svg {
        fill: $grey-2;
      }
    }
  }

  .checkout-city {
    display: none;
  }

  &.mod-checkout {
    height: 46px;

    .header-menu {
      display: none !important;
    }

    .container:after {
      content: none;
    }

    .header__hamburger {
      display: none;
    }

    .checkout-city {
      display: flex;
      height: 46px;
      color: white;
      align-items: center;

      svg {
        fill: white;
        width: 24px;
        height: 30px;
      }
    }

    .header__logo {
      margin-right: 0 !important;
    }
  }
}

.header-menu .header__sticky .toggle-menu .mod-sales a.header__link {
  color: $red;

  &:hover {
    color: $black;
  }
}

/*Лого меню*/
.header-menu__logo_home {
  transform: translateX(-56px);
}

/*Кнопка назад*/
.header .navbar .navbar-collapse .header__list.dropdown-menu.show .dropdown-back {
  display: none;

  a {
    display: flex;
    align-items: center;
  }
}

.header .navbar .navbar-collapse .header__list.dropdown-menu.show .dropdown-name {
  a {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  &__city {
    margin-right: 8px;
  }
}
.header__list.dropdown-menu[aria-labelledby="cities-list"] .dropdown-name span {
  margin-top: 8px;
}



/*Стили для dropdown в desktop*/
@include w-from($screen-md) {
  .header .header__list.dropdown-menu.show {
    width: 200px;
    background-color: $grey-4;
    border: none;
    z-index: 960;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .header__list-item {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;

      a {
        color: $black;

        &:hover {
          color: $orange;
          transition: color ease 0.4s;
        }
      }

      &:not(:last-of-type) {
        padding-bottom: 10px;
      }
    }
    &[aria-labelledby="countries-list"] {
      background-color: $white;
    }
  }
}

/*Стили для dropdown в мобильном хэде*/
@include w-to($screen-md) {
  .header .header__list.dropdown-menu.show, .checkout-city-list.show, .toggle-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 47px;
    left: 0;
    border-radius: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 60px;
    background: white;

    .dropdown-back {
      display: block;

      a {
        font-size: 14px;
      }

      &__icon {
        width: 19px;
        height: 11px;
        transform: rotate(90deg);
        fill: $black;
      }

      &__close {
        width: 17px;
        height: 17px;
        fill: $grey-2;
      }
    }

    .dropdown-name__city {
      width: 14px;
      height: 17px;
      fill: $grey;
    }

    .header__list-item, .dropdown-back, .dropdown-name {
      padding-left: 23px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .dropdown-back, .dropdown-name {
      border-bottom: 1px solid $grey-4;
    }

    .header__list-item {
      background-color: $white;
      padding-top: 0;
      padding-bottom: 0;

      a {
        line-height: 240%;
      }

      &:hover {
        background-color: $grey-4;
      }
    }

    .dropdown-name {
      display: flex;
      align-items: center;
      height: 54px;
      background-color: $grey-4;
      position: relative;
      margin-bottom: 10px;
    }
  }
  .toggle-menu {
    display: none;
  }
  .checkout-city-list.show {
    height: 100vh;

    .header__list-item a.city, .header__list-item a, .dropdown-back a, .dropdown-name a {
      font-size: 14px !important;
      line-height: 16px;
      color: #3A3A44;
      width: 100%;
      display: block;
    }

    .dropdown-back {
      height: 52px;
      display: flex;
      align-items: center;
    }

    .dropdown-name {
      pointer-events: none;

      a {
        padding: 0;
      }
    }
  }
}

/*Стрелка вправо на мобиле*/
.header #header-mobile .header__link svg.dropdown-next {
  width: 15px;
  height: 15px;
  fill: $black;
  transform: rotate(-90deg);
  margin-left: auto;
}

/*Панель меню*/
.header-menu {
  background-color: $white;
  transition: top ease 0.1s;
  z-index: 950;
  @include w-from($screen-md) {
    margin-top: 14px;

    ul[aria-labelledby="catalog-list"] {
      max-width: 675px;
      width: 100%;
      justify-content: space-between;
      margin-left: 3rem;
      z-index: 1;

      @include w-to($screen-xl) {
        margin-left: -1rem;
      }
      @include w-to($screen-lg) {
        margin-left: -2rem;
      }
    }
  }

  &__brand {
    color: $black;
    &:hover {
      color: $black;
    }
    @include display-flex(row, center);
    padding: 0;
    max-width: 172px;
    width: 100%;

    .navbar-brand {
      margin-right: 0.5rem;
    }

    &:hover {
      .header-menu__logo_home {
        transform: translateX(0);
      }

      .header-menu__logo_mi {
        transform: translateX(56px);
      }
    }
  }

  &.nav-item .navbar-nav .header__link {
    color: $grey;
  }

  &__logo {
    background-color: $orange;
    width: 45px;
    height: 45px;
    float: left;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    transition: transform .4s ease, opacity .3s ease;
    padding: 0;

    svg {
      fill: $white;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2;
      transition: transform .4s ease;
    }

    &_home {
      width: 25px;
      height: 25px;
    }

    &_mi {
      width: 25px;
      height: 25px;
    }

  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 118.2%;
  }

  &__sticky {
    height: 40px;
    max-width: 309px;
    width: 100%;

    @include w-to($screen-xl) {
      margin-left: 10px;
    }

    .header__search {
      height: 40px;
    }

    svg {
      fill: $grey;
    }

    .header__search input {
      width: 100%;
      height: 40px;
      padding-right: 2.5rem;
    }

    .menu__profile, .header__basket, .menu__basket {
      display: none;
    }

    .menu__profile svg {
      width: 22px;
      height: 25px;
    }

    .menu__basket svg {
      width: 23px;
      height: 24px;
    }
  }

  &.sticky-custom-top {
    width: 100%;
    position: fixed !important;
    padding-top: 0;
    height: 46px;
    top: 0;
    transition: top ease 0.2s;
    z-index: 99;
    margin-left: -15px;
    margin-top: 0;
    @include w-from(1200px) {
      max-width: 1261px;
    }
    @include w-to(1200px) {
      max-width: 1100px;
    }

    & .header-menu__brand {
      margin-left: 0;
      padding-left: 8px;
      max-width: 51px;
    }

    &:before {
      width: 100%;
      position: fixed;
      background-color: white;
      z-index: 0;
      height: 46px;
      content: '';
      top: 0;
      left: 0;
      box-shadow: 0 2px 6px #E6E6EF;
    }

    .col-lg-2.d-lg-flex {
      max-width: 3.6%;
    }

    .header-menu__logo {
      height: 40px;
      width: 40px;

      &_mi, &_home {
        top: 8px;
        left: 8px;
      }
    }

    .header-menu__title {
      display: none;
    }

    .nav-item.header-menu__sticky {
      padding-right: 1rem;
      .header__link svg {
        fill: $grey;
      }

      .menu__profile, .header__basket, .menu__basket {
        display: inline-block;
      }
      .menu__profile {
        margin-right: 1rem;
      }
    }

    .header__search {
      button {
        right: 1.2rem;
      }

      input {
        width: 0;
        display: none;
      }
    }

    .header__search_icon {
      fill: $grey;
      width: 22px;
    }

    & .header__list {
      margin-left: 1.3rem !important;
    }

    @include inIe {
      margin-left: -120px !important;
    }

    & .header__link.data-basket-amount {
      padding-right: 0.7rem;

      &:after {
        right: 10px;
      }
    }

    & .header__link.menu__profile {
      padding-right: 1.7rem;
    }

    ul[aria-labelledby="catalog-list"] {
      margin-right: auto;
    }

    .data-basket-amount[data-basket-amount]::after {
      top: 0;
    }
  }

  & .header__list .header__list-item {
    height: 46px;
    display: flex;
    align-items: center;
    @include w-range($screen-md, 1199px) {
      margin-right: 4px;
    }

    & a.header__link {
      @include w-to($screen-lg) {
        font-size: 14px !important;
      }
    }

    & .header__link, & .city {
      font-size: 16px;
      @include w-to($screen-md) {
        font-size: 14px !important;
      }
    }
  }

  & .header__sticky .toggle-menu {
    @include w-from($screen-md) {
      display: flex;
      & a.header__link {
        color: $grey;
      }
    }
  }
}


/*hamburger icon*/
#hamburger {
  width: 24px;
  height: 10px;
  position: relative;
  margin-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: $white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  pointer-events: none;
}

#hamburger span:nth-child(1) {
  top: 0;
}

#hamburger span:nth-child(2) {
  top: 5px;
}

#hamburger span:nth-child(3) {
  top: 10px;
}

#hamburger.open span:nth-child(1) {
  top: 5px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger.open span:nth-child(3) {
  top: 5px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.data-basket-amount {
  position: relative;

  &[data-basket-amount]::after {
    position: absolute;
    width: 13px;
    height: 13px;
    background: $orange;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.015em;
    color: $white;
    top: -3px;
    right: -3px;
    content: attr(data-basket-amount);
  }
  &.deactive:after {
    content: none;
  }
}

#cities-modal {
  z-index: 100001;
}
#cities-modal .modal-content {
  list-style: none;
  max-width: 720px;
  width: 100%;
  height: 390px;
  @include w-to($screen-md) {
    height: auto;
  }

  .modal-header {
    border: none;
    padding-bottom: 0;
    padding-top: 23px;

    span {
      font-family: $font-family-GothamProBold;
      font-size: 24px;
      line-height: 120%;
      color: $black;
      margin-bottom: 26px;
    }

    a {
      font-size: 14px;
      line-height: 28px;
      color: #5E8CD2;
    }
  }

  .modal-body {
    padding-top: 0;
    display: flex;
    width: 528px;
    justify-content: space-between;
    @include w-to($screen-md) {
      flex-wrap: wrap;
      width: 100%;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      a {
        font-size: 14px;
        line-height: 28px;
        color: $black;
      }
    }
  }
}

.close-modal {
  position: absolute;
  top: 16px;
  right: 12px;
  z-index: 5;
  @include w-to($screen-md) {
    top: 12px;
  }

  svg {
    width: 17px;
    height: 17px;
    fill: $grey;
  }
}

.wrapper-city {
  display: none;
  @include w-to($screen-md) {
    display: block;
    margin-right: auto;
    z-index: 1;
    margin-left: 11px;
  }
}

.info-presentation img {
  max-width: 100% !important;
}

@media (min-width: 768px) {
  .info-presentation {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .info-presentation {
    display: none;
  }
}

.home-page .header, .mod-checkout.header {
  @include w-to($screen-md) {
    margin-bottom: 0;
  }
}

#main-wrap .basket-empty {
  @include w-to($screen-md) {
    margin-top: 20px;
  }
}

.active-city {
  font-weight: 500;
  @include w-to($screen-md) {
    font-weight: 400;
    color: $orange !important;
  }
}

@import "../components/home-page/nav-category";