.popover-custom.popover.bs-popover-right.show {
  border: none;
  box-shadow: 0 2px 6px #E6E6EF;
  margin-left: 1rem;
  .popover-custom__body {
    z-index: 3;
    background: white;
    padding: 21px 15px 15px;
    font-size: 14px;
  }
  .popover-custom__arrow.arrow {
    border-radius: 50%;
    background: white;
    z-index: -1;
    box-shadow: 0 2px 6px #E6E6EF;

    left: calc((.5rem + 2px) * -1);
    width: 21px;
    height: 26px;
    &::after {
      content: none !important;
    }
    &::before {
      content: none !important;
    }
  }
}

.popover.popover-credit.bs-popover-right.show,
.popover.popover-credit.bs-popover-left.show, {
  max-width: 210px;
}

.popover-custom.popover.bs-popover-left.show {
  .popover-custom__arrow.arrow {
    border-radius: 50%;
    background: white;
    z-index: -1;
    box-shadow: 0 2px 6px #E6E6EF;

    left: calc((.5rem + 2px) * -1);
    width: 21px;
    height: 26px;
    &::after {
      content: none !important;
    }
    &::before {
      content: none !important;
    }
  }
}