.toast-custom {
  position: fixed;
  bottom: 20px;
  left: 10px;
  border: none;
  backdrop-filter: none;
  padding-right: 35px;
  z-index: 5;
  @include w-to(365px) {
    left: 0;
    bottom: 5px;
    width: 100%;
  }
  &.mod-sale {
    background: #E40046;
    .toast-custom__text {
      p:first-of-type {
        font-size: 24px;
        @include w-to($screen-md) {
          font-size: 18px;
        }
      }
      p:last-of-type {
        font-size: 14px;
      }
    }
  }
  &.mod-gift {
    background: #6BBBAE;
    .toast-body img {
      object-position: 15px;
    }
    .toast-custom__text {
      p:first-of-type {
        font-size: 14px;
      }
      p:last-of-type {
        font-size: 24px;
        @include w-to($screen-md) {
          font-size: 18px;
        }
      }
    }
  }
  &.toast {
    overflow: initial;
  }

  &.show {
    display: inline-block;
    animation: drivingOut 0.5s forwards;
  }

  img {
    position: absolute;
    left: -10px;
    bottom: -25px;
    width: 162px;
    height: 140px;
    @include w-to($screen-md) {
      width: 130px;
      height: 140px;
      object-fit: contain;
      left: 0;
    }
  }

  .toast-body {
    margin-left: auto;
    a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  button {
    background: transparent;
    position: absolute;
    right: 14px;
    top: 1rem;
    border: none;
    outline: none;
    &:focus {
      outline: none;
    }
    &:hover {
      svg {
        width: 17px;
        height: 17px;
        fill: $white;
        &:hover {
          fill: $white;
        }
      }
    }

    svg {
      fill: $white;
      &:hover {
        fill: $white;
      }
    }
  }

  &__text {
    font-family: $font-family-GothamProBold;
    color: $white;
    padding-left: 9rem;
    @include w-to($screen-md) {
      padding-left: 8rem;
    }
    p {
      margin: 0;
    }
  }

}

@keyframes drivingOut {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0%);
  }
}