.breadcrumb {
  background: transparent;

  &-item, &-item a {
    font-size: 12px;
    color: $black;
  }
  &-item.active {
    display: flex;
    align-items: center;
    color: $grey;
  }
  &-item a:hover {
    color: $grey;
  }

  &-wrap {
    background-color: $grey-4;
    @include w-from($screen-md) {
      margin-top: 7px;
    }
    &.mod-checkout {
      background-color: $grey-4;
      margin-top: 0;
      @include w-to($screen-md) {
        display: none;
      }
      .breadcrumb {
        padding-top: 45px;
        padding-bottom: 30px;
        background-color: $grey-4;
      }
    }
    &.mod-success {
      margin-top: 0;
      margin-bottom: 0;
      background: $grey-4;
      .breadcrumb.container {
        padding-top: 44px;
      }
      @include w-to($screen-md) {
        display: none;
      }
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before         {
  content: '';
  background: url("/local/templates/main/images/icons/arrow.svg") no-repeat;
  background-position: center center;
  background-size: contain;
  width: 7px;
  height: 7px;
  transform: rotate(-90deg);
  margin-right: 0.5rem;
}
