.socials-blocks {
  margin: 0 -6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  svg {
    width: 29px;
    height: 29px;
    fill: #fff;
    flex: none;
  }
}

.socials-blocks__item {
  padding-left: 6px;
  padding-right: 6px;
}

.socials-blocks__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-blocks__vkontakte {
  background-color: #376e95;
}

.socials-blocks__fb {
  background-color: #285c9d;

  .icon-fb {
    width: 31px;
    height: 31px;
  }
}

.socials-blocks__google {
  border-color: #e5e5e5;

  .icon-google {
    width: 24px;
    height: 24px;
  }
}

.socials-blocks__tw {
  background-color: #00a9e0;
}

.socials-blocks__yt {
  background-color: #ff322f;
}

.socials-blocks__ig {
  border-width: 0;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.socials-blocks__mi {
  padding: 7px;
  background: rgb(251, 44, 102);
  background: -moz-linear-gradient(45deg, rgba(251, 44, 102, 1) 0%, rgba(255, 179, 59, 1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(251, 44, 102, 1) 0%, rgba(255, 179, 59, 1) 100%);
  background: linear-gradient(45deg, rgba(251, 44, 102, 1) 0%, rgba(255, 179, 59, 1) 100%);
}
