.main-info {
  height: 21vh;
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  background: url(../img/media/bg-main-info-m.jpg) no-repeat top center;
  background-size: cover;
  display: flex;
}

.main-info-title {
  margin: auto;
  text-align: center;
}
