@import "../general/settings";
@import "../general/mixin";

.catalog-tags {
  line-height: 1;
  font-size: 0;
}

.catalog-tags__item {
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 6px 15px;
  display: inline-block;
  border-radius: 4px;
  background-color: $grey-3;
  color: inherit;
  font-size: 12px;
  position: relative;

  .arrow {
    width: 11px;
    height: 11px;
    fill: $black;
  }

  &.active {
    background-color: $black;
    color: #fff;
    margin-right: 1.5rem;
    padding-right: 25px;

    .arrow {
      fill: #fff;
    }

    &:before {
      content: '';
      background: url("/local/templates/main/images/icons/back.svg") no-repeat center/8px 8px;;
      color: white;
      display: inline-block;
      width: 8px;
      height: 11px;
      position: absolute;
      right: 9px;
    }
  }

  &.mod-arrow-next {
    &:after {
      content: '';
      background: url("/local/templates/main/images/icons/arrow.svg") no-repeat center/12px 10px;
      width: 16px;
      height: 13px;
      display: inline-block;
      transform: rotate(-90deg);
      position: absolute;
      right: -20px;
    }
  }
}

.catalog-tags__count {
  margin-left: 3px;
  color: $blue-2;
}

.catalog-tags__more-wrapper,
.catalog-tags__hide {
  display: none;
}

.catalog-tags__more .arrow {
  margin-left: 7px;
  transform: rotate(-90deg);
}

.catalog-tags__hide .arrow {
  margin-right: 7px;
  transform: rotate(90deg);
}

.catalog-tags__open {
  .catalog-tags__more-wrapper {
    display: inline;
  }

  .catalog-tags__hide {
    display: block;
  }

  .catalog-tags__more {
    display: none;
  }
}

@media (min-width: 1100px) {
  .catalog-tags__item {
    cursor: pointer;
    transition: background-color .3s ease;

    &:not(.active):hover {
      background-color: $gray-mi-5;
      color: $black;
    }
  }
}

/*
@media (max-width: 767px) {
  .catalog-tags {
    padding-top: 15px;
    display: none;
  }
}
*/
