@import "../general/mixin";

.nav-panel {
  max-width: 100%;
  background-color: transparent;
}

.news-subscribe {
  display: none;
}

.club-page {
  font-family: 'Roboto', "Proxima Nova", Arial, sans-serif;
}

.club-title {
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.4;
}

.club-header {
  background-color: #ff6900;
  position: relative;
}

.club-header__container {
  height: 100%;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    display: block !important;
    content: '';
  }
}

.club-header__block {
  max-width: 440px;
  width: 100%;
  margin: auto 100px auto auto;
  line-height: 1;
  text-align: center;
  position: relative;
  z-index: 3;
}

.club-header__info {
  margin-bottom: 30px;
  line-height: 1;
  display: inline-block;
  text-align: left;
}

.club-header__logo {
  width: 100%;
  margin-bottom: 10px;
}

.club-header__text {
  font-size: 31px;
  color: #fff;
  font-weight: 300
}

.club-content {
  padding-top: 65px;
}

.club-reg {
  background-color: #fff;
  padding: 40px 60px;
  color: #53565a;

  form {
    margin-bottom: 15px;
  }

  .input-group {
    margin-top: 0;
    margin-bottom: 22px;

    input {
      @include hidePlaceholder {
        font-weight: 300;
        color: #999;
        font-size: 16px;
        opacity: 1;
        transition: opacity 0.3s ease;
      }

      &:focus {
        @include hidePlaceholder {
          opacity: 0;
          transition: opacity 0.3s ease;
        }
      }
    }
  }
}

.club-reg-password__hint {
  font-size: 13px;
  text-align: justify;
  padding-top: 10px;
}

.club-reg-btn {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.club-reg-link {
  font-size: 14px;
}

.club-reg-title {
  margin-bottom: 35px;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: justify;
}

.club-reg-title__bold {
  display: block;
  margin-bottom: 8px;
  font-weight: 900;
}

.club-advantage {
  margin-bottom: 80px;
  text-align: center;
}

.btn.club-go {
  font-size: 20px;
}

.club-advantage__list {
  padding-left: 0;
  margin: 0 0 50px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.club-advantage__item {
  flex: none;
}

.club-advantage__icon {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: #6bbbae;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: '';
    border: 12px solid transparent;
    border-top: 20px solid #6bbbae;
    transform: rotate(-55deg);
    position: absolute;
    left: 90%;
    top: 70%;
    z-index: 1;
  }

  svg {
    fill: #fff;
    position: relative;
    z-index: 5;
  }

  .icon-ruble {
    width: 70px;
    height: 70px;
  }

  .icon-flags {
    width: 86px;
    height: 86px;
  }

  .icon-matryoshka {
    width: 77px;
    height: 77px;
  }

  .icon-shop {
    width: 65px;
    height: 65px;
  }

  .icon-baloon {
    width: 75px;
    height: 75px;
  }
}

.club-advantage__text {
  font-weight: 300;

  .text-bold {
    font-weight: 700;
  }

  a {
    color: #ff6900;
    border-bottom: 1px solid;

    &:hover {
      border-bottom-color: transparent;
      text-decoration: none;
    }
  }
}

.landing-more {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.landing-item {
  margin-bottom: 60px;
  text-align: center;
  display: flex;
}

.landing-item__inner {
  width: 100%;
  text-align: center;
  border: 1px solid #eee;
  padding: 20px;
  position: relative;
  transition: all .4s ease;
}

.landing-item__inner:hover {
  border-color: #ff6900;
}

.landing-item__title {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
  a {
    color: inherit;
  }
}

.landing-item__title a:hover {
  text-decoration: none;
}

.landing-item__slogan {
  font-weight: 400;
  color: #616161;
  margin-top: 10px;
  line-height: 1.2;
}

.landing-item__media {
  padding: 10px 0;
}

.landing-item__media img {
  max-height: 100%;
}

.landing-item__price {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  color: #333;
}

.landing-item__price-comment {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.club-more {
  margin: -30px 0 40px;
  text-align: center;
  width: 100%;
  font-weight: 300;
  text-transform: uppercase;
}

.club-more a {
  color: #212121;
  display: inline-block;
  border-bottom: 1px solid;
  line-height: 1;
}

.club-more a:hover {
  text-decoration: none;
  border-bottom-color: transparent;
}

.club-to {
  text-decoration: none;
  position: absolute;
  margin-left: -17px;
  bottom: -10px;
  left: 50%;
  z-index: 5;
  border: 26px solid transparent;
  border-top: 11px solid #ffb887;
}

.landing-item__old {
  font-size: 20px;
  font-weight: 600;
  color: #7e7e7e;
}

.landing-item__new {
  font-size: 26px;
  font-weight: 700;
  color: #333;
  font-family: 'Roboto';
}

.landing-btn__buy {
  width: 100%;
  background: #ff6900;
  color: #fff;
  border: 0;
  font-size: 26px;
  text-align: center;
  padding: 6px 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .4s ease;
  font-family: 'Roboto';
}

.landing-btn__buy:hover {
  color: #fff;
  text-decoration: none;
}

.landing-btn__buy::before {
  width: 94px;
  height: 20px;
  background: url(/ru/mi-club/img/icon-miclub.svg) no-repeat center;
  background-size: contain;
  display: block;
  content: '';
}

.landing-btn__discount {
  position: relative;
  z-index: 3;
}

.landing-list {
  display: flex;
  flex-wrap: wrap;
}

.landing-category {
  width: 100%;
  margin-bottom: 45px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1;
  text-align: center;
}

.landing-category__inner {
  width: inherit;
  padding-top: 20px;
  padding-bottom: 18px;
  background-color: #ff6900;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}


/* old   */

.good-price {
  margin-top: 50px;
  margin-bottom: 29px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 1;
}

.old-price {
  font-size: 25px;
  font-weight: 600;
  color: #7e7e7e;
}

.new-price {
  font-size: 31px;
  font-weight: 600;
  color: #333;
}

.button-wrap a {
  max-width: 230px;
  text-align: center;
  padding: 10px 35px;
  font-size: 1.5em;
  font-weight: 500;
}

.orange-button a {
  background: #ff3600;
  color: #fff;
  font-size: 25px;
}

.orange-button a:hover {
  color: #fff;
  text-decoration: none
}

.button-wrap {
  position: relative;
  z-index: 3;
}

.club-join {
  padding-top: 40px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  border-top: 2px solid #dadada;
  text-align: center;
}

.club-join-list {
  padding-left: 0;
  margin: 0 0 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.club-join-item {
  width: 33%;
  padding-left: 1%;
  padding-right: 1%;
  position: relative;

  &:not(:last-child)::after {
    width: 214px;
    height: 62px;
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    content: '';
  }

  &:first-child::after {
    background-image: url(../img/arrow-left.png);
  }

  &:last-child .club-join-icon {
    position: relative;

    &::after,
    &::before {
      position: absolute;
      content: '';
    }

    &::before {
      background-color: #6bbbae;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      z-index: 2;
      right: -10px;
      bottom: 0;
    }

    &::after {
      width: 26px;
      height: 16px;
      bottom: 18px;
      right: 2px;
      display: block;
      border-bottom: 8px solid #fff;
      border-left: 8px solid #fff;
      transform: rotate(-55deg);
      z-index: 4;
    }
  }
}

.club-join-icon {
  width: 115px;
  height: 115px;
  margin: 0 auto 20px;
  border-radius: 50%;
  border: 2px solid #ff6900;
  display: flex;

  svg {
    width: 65px;
    height: 65px;
    margin: auto;
    position: relative;
    fill: #ff6900;
  }

  .icon-form {
    right: -5px;
    bottom: -3px;
  }

  .icon-enter {
    bottom: -3px;
  }
}

.club-join-text {
  font-size: 20px;
  font-weight: 300;

  a {
    text-decoration: underline;
    color: #ff6900;
  }
}

.action-good-link {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.action-good-link:hover,
.action-good-link:focus {
  background-color: transparent;
  color: inherit;
}

.btn.club-enter-btn {
  margin-top: 85px;
  padding: 11px 25px;
  background-color: #fff;
  font-size: 24px;
  color: #53565a;
  text-transform: uppercase;
  display: none;

  &:hover {
    background-color: #53565a;
    color: #fff;
    text-decoration: none;
  }
}

.text-in-club {
  display: none;
  color: #fff;
  line-height: 1.5;
  font-size: 18px
}

.landing-btn__buy-real {
  display: none;
}

.club-gen-auth .club-reg {
  display: none;
}

.club-gen-auth:not(.club-gen-auth__members) .btn.club-enter-btn {
  display: inline-block;
}

.club-gen-auth__members {
  .text-in-club {
    display: block;
  }

  .landing-btn__buy-real {
    display: block;
  }

  .landing-list + .club-title,
  .club-join,
  .btn.club-go,
  .landing-btn__buy-ques {
    display: none;
  }
}

@media (min-width: 568px) {
  .club-more {
    font-size: 18px;
  }

  .club-header {
    height: 720px;
  }

  .club-header__logo {
    max-width: 318px;
    height: 61px;
  }

  .club-header__container::before {
    background-image: url(/ru/mi-club/img/mi-zay-light.png);
  }

  .club-header__container {
    display: flex;
    flex-direction: column;
  }

  .club-title {
    font-size: 47px;
    font-weight: 100;
  }


  .club-advantage__item {
    width: calc(100% / 5);
  }
  .club-advantage__text {
    font-size: 20px;
  }

  .landing-category__inner {
    font-size: 40px;
  }

  .landing-item__media {
    height: 280px;
  }

  .landing-item__title {
    font-size: 24px;
    min-height: 56px;
  }

  .landing-item__slogan {
    min-height: 42px;
  }
}

@media (min-width: 768px) {
  .landing-item__slogan {
    font-size: 17px;
    margin-left: -5px;
    margin-right: -5px;
  }
  .club-header__container::before {
    left: -125px;
    background-position: bottom left;
  }
}

@media (min-width: 993px) {
  .menu-inner:not(.isStuck) .menu-link {
    color: #fff;
  }

  .landing-item {
    max-width: calc(100% / 4);
    flex-basis: calc(100% / 4);
  }
}

@media (min-width: 1100px) {
  body .menu-link.active,
  body .menu-link:not(.device-link):hover {
    color: #53565a !important
  }

  .menu-inner:not(.isStuck) .logo {
    background-color: #fff;

    svg {
      fill: #ff6900;
    }
  }

  .landing-item {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*******************************/

@media (max-width: 1099px) {
  .btn.club-go {
    &:focus,
    &:active,
    &:hover {
      background-color: #ff6900;
      color: #fff;
      outline: 0
    }
  }
}

@media (max-width: 992px) {
  .landing-btn__buy {
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .landing-item__inner {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .landing-item__info:nth-of-type(1) .landing-item__inner,
  .landing-item__info:nth-of-type(2) .landing-item__inner {
    padding-bottom: 0;
  }

  .big-slide {
    height: 40vh;
    border-top: 60px solid #fff;
    background-size: cover;
  }

  .big-slide .absolute-elements {
    position: static;
    transform: translateX(0)
  }

  .conditions a {
    color: #ff6500
  }
  .club-advantage__list {
    justify-content: center;
  }
  .club-advantage__item {
    width: calc(100% / 2);
    margin-bottom: 30px;
  }
  .club-advantage__text {
    font-size: 14px;
  }
  .club-advantage__icon {
    width: 50px;
    height: 50px;
  }
  .club-advantage__icon::after {
    border: 6px solid transparent;
    border-top: 10px solid #6bbbae;
  }

  .club-advantage__icon .icon-ruble {
    width: 30px;
    height: 30px;
    top: 2px;
  }
  .club-advantage__icon .icon-matryoshka {
    width: 35px;
    height: 35px;
  }
  .club-advantage__icon .icon-shop {
    width: 26px;
    height: 26px;
  }
  .club-advantage__icon .icon-flags {
    width: 40px;
    height: 40px;
  }
  .club-advantage__icon .icon-baloon {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 567px) {
  .club-header {
    padding-bottom: 50px;
  }

  .club-header__block {
    text-align: right;
  }
  .club-header__info {
    margin-bottom: 120px;
  }
  .club-header__logo {
    max-width: 170px;
    height: 33px;
  }
  .club-header__text {
    font-size: 16px;
    text-align: justify;
  }

  .club-join-item {
    width: 100%;
    margin-bottom: 50px;
  }
  .club-join-text a {
    white-space: nowrap;
  }

  .club-title {
    font-size: 30px;
    font-weight: 300;
  }

  .club-header__container {
    padding-top: 40px;

    &::before {
      left: -10px;
      width: 70%;
      height: 34%;
      background-image: url(../img/mi-zay-light-mob-enter.png);
      background-size: contain;
    }
  }

  .club-reg {
    padding: 20px;
  }

  .club-reg-title {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }

  .landing-item__media {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 260px;
  }

  .landing-category__inner {
    font-size: 28px;
  }

  .landing-item {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .landing-category {
    padding-left: 15px;
    padding-right: 15px;
  }

  .landing-item__title {
    font-size: 20px;
  }

  .landing-item__inner {
    padding: 30px 15px;
    max-width: 414px;
  }

  .landing-item__price {
    flex-wrap: wrap;
  }

  .club-gen-auth {
    .club-header__container::before {
      left: 0;
      top: 40px;
      width: 100%;
      height: 100%;
    }

    .club-header__block {
      height: 360px;
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    .club-header__logo {
      max-width: 210px;
      height: 40px;
    }

    .club-header__info {
      margin: 0 auto auto;
    }
  }

  .club-gen-auth:not(.club-gen-auth__members) .btn.club-enter-btn {
    max-width: 220px;
    margin: auto auto 0;
    padding: 7px 15px;
    font-size: 20px;
    display: block;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  .club-header__container::before {
    width: 33%;
    left: -33px;
    top: 65px;
    background-size: contain;
    background-position: top left;
  }
}

@media (min-width: 568px) and (max-width: 992px) {
  .landing-item {
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media (min-width: 375px) and (max-width: 567px) {
  .landing-item__price {
    padding-left: 15px;
    padding-right: 15px;
  }

  .landing-item {
    padding-left: 10px;
    padding-right: 10px;
  }

  .landing-list {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .landing-item__inner {
    max-width: 330px;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  .landing-item__inner {
    max-width: 260px;
  }
}

@media (min-width: 993px) and (max-width: 1099px) {
  .landing-item {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1099px) {
  .landing-item__inner {
    padding: 15px;
  }
}
