.shops-list #map {
  width: 100%;
  height: 600px;
}

.shops-list-media {
  position: relative;
  cursor: pointer;

  img {
    max-width: 100%;
  }

  div:not(:first-of-type) {
    display: none;
  }

  .icon-increase {
    width: 40px;
    height: 40px;
    border: 9px solid transparent;
    fill: #ccc;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(76, 76, 76, .7);
    pointer-events: none;
    transition: fill .4s ease;
  }

  &:hover .icon-increase {
    fill: #fff;
  }
}

.shops-list-title {
  line-height: 1;
}

.shops-list-item {
  margin-bottom: 32px;
  color: #727272;
}

.shops-list-item__inner {
  display: flex;
}

.shops-list-media__img {
  display: block;
  cursor: pointer;
}

.shops-list-info {
  flex: 1 1 auto;
}

.shops-list-name {
  color: #ff6700;
  font-size: 26px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 500;
}

.shops-list-show {
  margin-bottom: 20px;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
      border-bottom-color: transparent;
    }
  }
}

.shops-list-show__line {
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;

  svg {
    width: 30px;
    height: 22px;
    margin-right: 10px;
    fill: #ccc;
    transition: fill .4s ease;
    flex: none;
  }

  .text {
    display: inline-block;
    color: #727272;
    font-weight: 500;
    border-bottom: 1px solid;
    line-height: 1.1;
  }

  &:hover svg {
    fill: #727272;
  }
}


.shops-list-metro::before {
  display: inline;
  margin-right: 5px;
  color: #b7b7b7;
  content: 'Станция метро:';
}

.shops-list-metro:empty::before {
  display: none;
}

.shops-list-metro span:not(:last-of-type)::after {
  display: inline;
  content: ', ';
}

.shops-list-holidays {
  margin-top: 20px;

  .text {
    color: #b7b7b7;
  }

  span {
    color: #ff0000;
  }
}

.shops-list-email {
  margin-top: 20px;
  display: flex;
  align-items: center;

  .icon-email {
    width: 25px;
    height: 24px;
    margin-right: 12px;
    fill: #ccc;
    flex: none;
  }
}

.shops-list-services {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;

  li {
    display: inline-block;
    min-height: 20px;
    padding-top: 20px;
    text-align: center;
    vertical-align: text-top;
    max-width: 82px;
    width: 100%;
    margin-right: 7px;
    margin-left: 7px;
    font-size: 10px;
    line-height: 1.1;
  }

  svg {
    width: 40px;
    height: 40px;
    margin: 0 auto 5px;
    display: block;
    content: '';
  }
}

.bx-ie9 {
  .shops-list-row {
    font-size: 0;
  }

  .shops-list-item {
    width: 50%;
    display: inline-block;
    font-size: 16px;
  }

  .shops-list-item__inner {
    overflow: hidden;
  }

  .shops-list-media {
    min-height: 320px;
    float: left;
  }
}

@media (min-width: 568px) {
  .shops-list-title {
    text-align: center;
    font-size: 45px;
  }
  .shops-list-row {
    line-height: 1.4;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .shops-list-left {
    width: 240px;
    margin-right: 40px;
    flex: none;
  }
}

@media (min-width: 1100px) {
  .shops-list-item {
    min-height: 290px;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 50%;
    flex-basis: 50%;
  }

  .shops-list-row {
    margin-right: -25px;
    margin-left: -25px;
  }
}


@media (max-width: 767px) {
  .shops-list-info .shops-list-name {
    display: none;
  }
}

@media (max-width: 567px) {
  .shops-list-block {
    margin-left: -15px;
    margin-right: -15px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }

  .shops-list-title {
    padding: 22px 0 22px 45px;
    font-size: 26px;
    margin: 0;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: '';
      transition: .4s ease-in-out;
    }

    &::before {
      width: 27px;
      height: 27px;
      border: 1px solid #e6e6e6;
      border-radius: 50%;
      right: 31px;
      top: 22px;
    }

    &::after {
      width: 7px;
      height: 7px;
      right: 41px;
      top: 34px;
      border-right: 2px solid #4c4c4c;
      border-bottom: 2px solid #4c4c4c;
      transform: rotate(-135deg);
    }
  }

  .shops-list-item {
    margin-bottom: 15px;
    padding: 0 15px 30px;
    color: #727272;
    box-shadow: 0 1px 1px 0 #f2f2f2;
  }
  .shops-list-row {
    padding-top: 15px;
    display: none;
  }

  .shops-list-item__inner {
    flex-direction: column;
  }

  .shops-list-left {
    margin-bottom: 20px;
  }

  .shops-list-media {
    position: relative;
    overflow: hidden;
    height: 125px;

    img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .shops-list-services {
    display: none;
  }
  .shops-list-name {
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 1.4;
  }

  .shops-list-block__active {
    .shops-list-title {
      background-color: #f2f2f2;

      &::before {
        background-color: #fff;
      }

      &::after {
        top: 32px;
        transform: rotate(45deg);
      }
    }
  }
}

@media (max-width: 1099px) {
  .shops-list #map {
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  .shops-list-item {
    max-width: 75%;
    margin-bottom: 50px;
  }
}

@media (min-width: 568px) and (max-width: 1099px) {
  .shops-list-row {
    flex-direction: column;
    align-items: center;
  }

  .shops-list-item {
    width: 100%;
  }
}
