.about-company {
  width: 100%;
  img {
    width: 100%;
  }
}

.about-company-top img {
  width: 100%;
}

.about-company-top {
  width: 100%;
  background-color: #fff;
  margin-bottom: -4px;
}

@media screen and (max-width: 1100px) {
  .about-company-top {
    margin-bottom: initial;
  }
}

.about-company {
  position: relative;
  .wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 1400px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 1100px) {
  .about-company .wrapper {
    position: initial;
    padding: initial;
    max-width: 100%;
  }
}

.special-table {
  td, th {
    border: 1px solid #e5e5e5;
    padding: 20px 25px;
  }
}

.about-company {
  .wrapper {
    .text-container {
      max-width: 500px;
      display: inline-block;
      text-align: left;
      .about-company-logo::before {
        content: '';
        background-image: url(/local/templates/main/images/about-company-logo.png);
        background-size: cover;
        width: 26%;
        height: 25%;
        display: block;
        position: absolute;
        left: -30%;
      }
    }
    &.left {
      display: table;
      .text-container {
        display: table-cell;
        vertical-align: middle;
      }
    }
    &.right .text-container {
      display: table;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 0;
    }
  }
  margin-bottom: -4px;
}

@media screen and (max-width: 1100px) {
  .about-company .wrapper .text-container {
    max-width: 100%;
    display: initial;
  }
}

@media screen and (max-width: 1100px) {
  .about-company .wrapper .text-container .about-company-logo::before {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .about-company .wrapper.left {
    display: initial;
  }
}

@media screen and (max-width: 1100px) {
  .about-company .wrapper.left .text-container {
    display: initial;
  }
}

@media screen and (max-width: 1100px) {
  .about-company {
    .wrapper.right .text-container {
      display: initial;
      position: initial;
    }
    margin-bottom: initial;
  }
}

.special-table {
  border-collapse: collapse;
  margin: 0 auto;
  th {
    background-color: #f6f6f6;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }
  td {
    &:first-of-type {
      text-align: left;
    }
    text-align: center;
    .fa-check {
      color: #02bf50;
    }
  }
}

.about-us {
  h2 {
    color: #ff6700;
    margin: 0 0 25px;
    font-size: 26px;
  }
  p {
    color: #000;
    margin: 0;
    text-align: justify;
    font-weight: 600;
  }
  .company-about h1, .in-russia h2 {
    color: #fff;
  }
  p + p {
    margin-top: 15px;
  }
  .company-about {
    background-image: url(/local/templates/main/images/title-bg.jpg);
  }
  .white-bg {
    padding: 60px 0;
  }
  .with-logo .text-wrap {
    padding-left: 180px;
    background: url(/local/templates/main/images/logo-img.png) 0 50% no-repeat;
  }
  .technologies {
    background: url(/local/templates/main/images/thno-block.jpg) 50% 50% no-repeat;
    background-size: cover;
    padding: 65px 0;
    .text-wrap {
      padding-left: 50%;
    }
  }
  .in-russia {
    padding: 75px 0;
    background: url(/local/templates/main/images/xiomi-in-russia.jpg) 50% 50% no-repeat;
    background-size: cover;
    .text-wrap {
      padding-left: 50%;
    }
  }
}

@media screen and (max-width: 700px) {
  .about-us .technologies {
    background-position: 100% 50%;
    .text-wrap {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .about-us .in-russia {
    background-position: 75% 50%;
    .text-wrap {
      padding-left: 0;
    }
  }
}