.catalog-all{
    background-color: #ffffff;
    padding: 30px 0 60px;
    border-top: $border-top;
    
    .category{
        .top-part{
            padding: 15px 0;
            cursor: pointer;
            
            .fa{
                vertical-align: middle;
                padding: 10px;
                font-size: 12px;
                border-radius: 50%;
                border: 1px solid $footer;
                color: $footer;
            }
            .fa-chevron-up{
                display: none;
            }            
            
            .name{
                vertical-align: middle;
                padding: 0 10px;
                font-size: 20px;
                font-weight: bold;
                color: $orange;
            }
            &.toggled{
                .fa-chevron-up{
                    display: inline-block;
                    border: 1px solid $orange;
                    color: $orange;
                }
                
                .fa-chevron-down{
                    display: none;
                }
            }
        }
        
        .collapse-part{
            overflow: hidden;
            
            &.collapsed{
                display: none;
            }
            .products-list{
                list-style: none;
                padding: 0;
                margin: 0 -2px -2px 0;
                border-top: 1px solid #f0f0f0;
                
                &::after{
                    content: "";
                    display: block;
                    clear: both;
                }
                
                li{
                    float: left;
                    width: 20%;
                    padding: 20px 0;
                    text-align: center;
                    border-right: 1px solid #e0e0e0;
                    border-bottom: 1px solid #e0e0e0;                    
                    height: 210px;
                    
                    .old-price{
                        font-size: 12px;
                        text-decoration: line-through;
                        color: $footer;
                    }
                    .current-price{
                        font-size: 16px;
                        color: $orange;
                    }
                    
                    a{
                        display: block;
                        padding: 5px 0;
                        text-decoration: none;                        
                    }
                    
                    img{
                        height: 100px;
                    }
                }
            }
        }
    }
}